<div>

	<div class="playlist-intro">
		<div class="image-container" ng-repeat="image in playlist.images | limitTo:1">
			<div class="image animate blur" style="background-image: url({{ image.url }});"></div>
		</div>
		<div class="inner">
			<h1 ng-bind="playlist.name">Loading</h1>
			<h4 ng-bind-html="playlist.description" ng-show="playlist.description">Loading</h4>
			<div class="info-text">
				<span ng-bind="tracks.items.length">0</span> tracks
				&nbsp;|&nbsp; <span ng-bind="totalTime">0</span> minutes
				&nbsp;|&nbsp; <a ng-bind="playlist.owner.id" href="/browse/user/{{ playlist.owner.uri }}"></a>
				&nbsp;|&nbsp;
                    <a ng-show="following" ng-click="unfollowPlaylist()"><i class="fa fa-check"></i>&nbsp; Following</a>
                    <a ng-show="!following" ng-click="followPlaylist()">Follow</a>
			</div>
		</div>
	</div>
	
	<div class="playlist-items tracklist droppable"  ng-controller="TracklistController">		
	
		<track
            ng-repeat="track in tracks.items"
            track="track.track"
            class="track"
            ng-click="trackClicked( $event )"
            ng-dblclick="trackDoubleClicked( $event )"
            data-uri="{{ track.track.uri }}"></track>

		<div ng-hide="tracks.items.length" class="no-items">
			No items
		</div>	
		
	</div>
</div>