<div class="playlist-page">
	
	<div class="asset-sidebar">
	
		<div class="thumbnail playlist" ng-repeat="image in playlist.images | limitTo:1" style="background-image: url({{ image.url }});"></div>
				
		<div class="buttons">
		
			<a class="button primary" ng-click="playPlaylist()"><i class="fa fa-play"></i>&nbsp; Play</a>
			
			<span class="follow-unfollow" ng-show="playlist.owner.id !== spotifyUser.id">
				<a class="button"
					  ng-class="{destructive: hovering}"
					  ng-show="following"
					  ng-click="unfollowPlaylist()"
					  ng-mouseover="hovering = true"
					  ng-mouseleave="hovering = false">
					<span ng-show="hovering"><i class="fa fa-star"></i> Unfollow</span>
					<span ng-show="!hovering"><i class="fa fa-star"></i> Following</span>
				</a>
				<a class="button"
					  ng-show="!following"
					  ng-click="followPlaylist()">
					<span><i class="fa fa-star"></i> Follow</span>
				</a>
			</span>
			
			<span class="owner-actions" ng-show="playlist.owner.id === spotifyUser.id">
				<span ng-show="following">
					<a class="button"
						  ng-click="editPlaylist( $scope )">
						Edit
					</a>
					<confirmation-button
						default-text="Delete"
						confirmation-text="Are you sure?"
						on-confirmation="unfollowPlaylist">
					</confirmation-button>
				</span>
				<span ng-show="!following">
					<a class="button"
						  ng-click="recoverPlaylist()">
						<i class="fa fa-undo"></i> Recover
					</a>					
				</span>
			</span>
		</div>
	
		<div class="info">
			<div class="info-item">
				<span ng-bind="tracklist.total">0</span> tracks<span ng-show="tracks.next">+</span>, <span ng-bind="totalTime()">0</span> minutes
			</div>
			<div class="info-item">
				Created by: <i class="fa fa-lock" ng-hide="playlist.public">&nbsp;</i><a ng-bind="playlist.owner.id" href="/browse/user/{{ playlist.owner.uri }}"></a>
			</div>
		</div>
		
	</div>
	<div class="content">
		
		<div class="intro">
			<div class="inner">			
				<h1 ng-bind="playlist.name"></h1>				
				<h2 class="description" ng-bind-html="playlist.description" ng-show="playlist.description">Loading</h2>				
			</div>
		</div>
		
		<div class="playlist-items tracklist droppable" ng-controller="TracklistController">
		
			<track ng-repeat="track in tracklist.tracks"></track>

			<div ng-hide="tracklist.tracks.length" class="no-items">
				No items
			</div>	
			
		</div>
	</div>
</div>