@import url(http://fonts.googleapis.com/css?family=Roboto:100,200,400,700);

body,
html {
	background: ##FFFFFF;
	color: #000000;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 12px;
}

html {
	overflow-y: scroll;
}

* {
	border: 0;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 26px;
	font-weight: 400;
}

h2 {
	font-size: 16px;
	font-weight: 500;
}

h3 {
	font-size: 14px;
	font-weight: 100;
}

h1.bottom-padding,
h2.bottom-padding,
h3.bottom-padding {
	padding-bottom: 10px;
}

a {
	color: inherit;
}

.explore-subpage .clickable:not(.album-panel):not(.artist-panel):hover,
.track-row .clickable:hover {
	border-bottom: 1px dotted #000000;
}


/*
 * Columns and row structure
 * TODO: Add retina-display friendly sprites
*/

.row {
	clear: both;
}

.col {
	float: left;
	min-height: 1px;
}

.col.w5{	width: 5%; }
.col.w10{	width: 10%; }
.col.w15{	width: 15%; }
.col.w20{	width: 20%; }
.col.w25{	width: 25%; }
.col.w30{	width: 30%; }
.col.w35{	width: 35%; }
.col.w40{	width: 40%; }
.col.w45{	width: 45%; }
.col.w50{	width: 50%; }
.col.w55{	width: 55%; }
.col.w60{	width: 60%; }
.col.w65{	width: 65%; }
.col.w70{	width: 70%; }
.col.w75{	width: 75%; }
.col.w80{	width: 80%; }
.col.w85{	width: 85%; }
.col.w90{	width: 90%; }
.col.w95{	width: 95%; }
.col.w100{	width: 100%; }

.clear-both {
	clear: both;
}

.hide {
	display: none;
}

.loader {
	background: url('../images/loader.gif') 0 0 no-repeat;
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 99;
}

*:focus {
    outline: none;
}


/*
 * Animations
 * Add .animation to any element to animate :hover and :focus sudo-styles
*/

.animate,
.button,
button,
input[type='submit'] {
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out; }

/* prevent animations when page is loading */
.loading .animate,
.loading .button,
.loading button,
.loading input[type='submit'] {
    -webkit-transition: none !important;
       -moz-transition: none !important;
         -o-transition: none !important;
            transition: none !important; }


/*
 * Iconography
 * TODO: Add retina-display friendly sprites
*/

.icon.small {
	display: inline-block;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	background: url('../images/icon-small-sprite.png') 0 0 no-repeat;
}

.icon.small.queue {				background-position: 0 -100px; }
.icon.small.playlists {			background-position: 0 -40px; }
.icon.small.explore {			background-position: 0 -80px; }
.icon.small.search {				background-position: 0 -60px; }

.icon.medium {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url('../images/icon-medium-sprite.png') 0 0 no-repeat;
}

.icon.medium.play {				background-position: 0 0; }
.icon.medium.pause {				background-position: -40px 0 ; }
.icon.medium.previous-track {	background-position: 0 -40px; }
.icon.medium.next-track {		background-position: -40px -40px; }
.icon.medium.search {			background-position: 0px -80px; }

a {
	cursor: hand;
	cursor: pointer;
	text-decoration: none;
	border-bottom: 1px dotted transparent;
}

a:hover {
	border-color: #000000;
}


/*
 * Notification popup
 * Triggered and hidden by core.js
*/

#notification {
	display: none;
	position: fixed;
	right: 0px;
	left: 0px;
	bottom: 75px;
	background: rgba(0,0,0,0.75);
	color: #FFFFFF;
    font-weight: 700;
	z-index: 9;
}

#notification .message {
	padding: 10px;
	text-align: center;
}

#notification.error {
	background: rgba(214,47,47,0.9);
}

#notification.notice {
	background: rgba(250,236,85,0.9);
}



/*
 * Core structure
 * Forms the basis for the app panels
*/


#pages {
	padding-bottom: 80px;
	width: 85%;
	float: right;
	z-index: 1;
	position: relative;
}

#pages .page {
	display: none;
	padding: 20px;
}

#menu {
	width: 15%;
	z-index: 2;
	position: fixed;
	font-size: 14px;
	top: 0;
	left: 0;
	bottom: 63px;
}

#menu .menu-bar {
	overflow-y: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-right: 1px solid #DDDDDD;
	background: #F9F9F9;
}

#menu .menu-item-wrapper {
	padding: 10px 12px 10px 14px;
	color: #000000;
}

#menu .menu-item-wrapper:not(.heading) .menu-item {
	text-decoration: none;
	cursor: hand;
	cursor: pointer;
	color: #000000;
}

#menu .menu-item-wrapper .menu-item > i {
	font-size: 0.85em;
}

#menu .menu-item-wrapper:hover:not(.heading) .menu-item {
	color: #000000;
	border-color: transparent;
}

#menu .menu-item-wrapper:hover:not(.heading) .menu-item .icon {
	opacity: 1;
}

#menu .menu-item-wrapper.current:not(.heading) {
	color: #000000;
}

#menu .menu-item-children {
	padding: 6px 6px 0 26px;
	font-size: 12px;
	line-height: 1.2em;
}

#menu .menu-item-children .child-menu-item {
	padding: 4px 0;
}

#menu .menu-item-children .child-menu-item a {
	text-decoration: none;
	color: #444444;
}

#menu .menu-item-children .child-menu-item.current a,
#menu .menu-item-children .child-menu-item a:hover {
	color: #000000;
}

#menu .new-playlist-button {
	cursor: hand;
	cursor: pointer;
}

#menu .refresh-playlist-button {
    width: 1px;
    height: 1px;
    font-size: 16px;
    text-align: center;
    margin: 20px auto;
    cursor: hand;
    cursor: pointer;
}


/*
 * Pages
 * These are the guts of the tab content
*/

.page {
}

.page > .section {
	padding-bottom: 15px;
	clear: both;
}

.artwork-panel {
	background-size: cover;
	height: 200px;
	position: relative;
	overflow: hidden;
	margin: -20px -20px 20px -20px;
}

.artwork-panel h1 {
	z-index: 2;
	position: absolute;
	bottom: 12px;
	left: 12px;
	background: #FFFFFF;
	padding: 0 8px;
}

.artwork-panel .background-image {
	background: 50% 50% no-repeat #EEEEEE;
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1;
}

#artist .related-artists-wrapper {
	float: right;
	width: 26%;
}

#artist .tracks-wrapper {
	float: left;
	width: 70%;
}



/*
 * Track listing tables
 *
*/

.track-row.headings,
.track-row.headings:hover {
	border-top: none;
	border-bottom: 1px solid #EEEEEE;
	text-transform: uppercase;
	color: #AAAAAA;
	background: transparent;
	cursor: default !important;
}

.track-row.headings .icon-spacer {
	width: 40px;
	height: 20px;
	float: left;
	display: inline-block;
}

.track-row.headings .col {
    padding-bottom: 5px;
}

.track-row.no-tracks,
.track-row.no-tracks:hover {
	text-align: center;
	padding: 10px;
	color: #AAAAAA;
	background: none;
	cursor: default;
}

.track-row {
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	margin-top: -1px;
	cursor: hand;
	cursor: pointer;
	color: #000000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.track-row .icon-container {
    font-size: 6px;
    text-align: center;
    padding-top: 14px !important;
}

.track-row .icon-container .fa-play {           display: none; font-size: 8px; }
.track-row .icon-container .fa-circle {         display: inline; }
.track-row .icon-container .fa-refresh {        display: none; font-size: 9px; }

.track-row .col {
	padding: 10px 0;
}

.track-row.highlighted,
.track-row.highlighted:hover {
	background: #FFF39C;
}

.track-row.current,
.track-row.current:hover {
    font-weight: 600;
}

.track-row.current .icon-container .fa-play {    display: inline; }
.track-row.current .icon-container .fa-circle {    display: none; }

.track-row.loading .icon-container .fa-play {    display: none; }
.track-row.loading .icon-container .fa-circle {    display: none; }
.track-row.loading .icon-container .fa-refresh {    display: inline-block; }

.track-row.current .icon {
	background-position: -20px -20px;
}

.track-row.current.not-playing .icon {
	background-position: -20px 0px;
}

.track-row:hover {
	background: #F2F2F2;
}


/* when dragging */

.track-row.ui-draggable-dragging,
.album-panel.ui-draggable-dragging {
	background: #333333 !important;
	display: block;
	padding: 10px;
	border: 0;
	border-radius: 3px;
	color: #FFFFFF !important;
	opacity: 0.8;
	width: auto;
	min-width: 200px;
    height: auto;
}

.track-row.ui-draggable-dragging .title,
.album-panel.ui-draggable-dragging .name,
.album-panel.ui-draggable-dragging .name:hover {
    position: static;
	padding: ;
	width: auto;
	display: inline;
	margin: 0;
	float: none;
    background: transparent;
}

.track-row.ui-draggable-dragging *:not(.title),
.album-panel.ui-draggable-dragging *:not(.name){
	display: none;
}


/*
 * Thumbnails and graphic panels
 * 
*/

.thumbnail {
	float: left;
	width: 40px;
	height: 40px;
	display: block;
	background-position: 50% 50%;
	background-size: cover;
	border-radius: 3px;
	background-color: #EEEEEE;
}

.related-artist-panel {
	padding: 5px;
	display: block;
	border: none;
}

.related-artist-panel:hover {
	background: #eeeeee;
}

.related-artist-panel .name {
	padding: 12px;
	display: block;
	float: left;
}



/*
 * Search
 * 
*/

.search-field {
	position: relative;
	padding: 12px;
}

.search-field input {
	padding: 7px 0;
	background: #F9F9F9;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	color: #000000;
	width: 100%;
    border-bottom: 2px solid #000000;
}

.search-field input:focus {
    border-color: #1cf4c4;
}

.search-field .submit {
	position: absolute;
	top: 12px;
	right: 0;
	width: 20px;
	height: 20px;
    padding: 7px;
	cursor: hand;
	cursor: pointer;
}

.explore-artist-section,
.search-results-section {
	clear: both;
	padding-bottom: 20px;
}

.search-results-section.artist .results,
.search-results-section.album .results {
	margin: 0 -5px;
}

.artist-panel,
.album-panel {
	width: 13.65%;
	height: 140px;
	background: #EEEEEE 50% 50% no-repeat;
	background-size: cover;
	display: block;
	float: left;
	margin: 1.5%;
	position: relative;
	border: none;
}

.artist-panel .name,
.album-panel .name {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background: #000000;
	padding: 10px;
    color: #FFFFFF;
}

.artist-panel:hover .name,
.album-panel:hover .name {
	background: #333333;
}


/*
 * Player panel
 * Sticky to page footer
*/

#player a:hover {
	border-color: #FFFFFF;
}

#player .controls {
	position: absolute;
	top: -3px;
	left: 0;
}

#player .button {
	padding: 5px;
	margin: 0 5px;
	font-size: 14px;
	opacity: 0.75;
}

#player .button.active,
#player .button:hover {
	opacity: 1;
}

#player .current-track {
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
}

#player .current-track .track {
	display: inline-block;
	padding: 5px 0 2px;
}

#player .current-track .artist {
	display: inline-block;
	padding: 5px 0 2px;
	opacity: 0.5;
}

#player {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 8;
	background-position: 50% 50%;
	background-size: cover;
	background-color: #000000;
}

#player > .liner {
	background: rgba(0,0,0,0.75);
	padding: 10px;
    color: #FFFFFF;
}

#player .button {
	cursor: hand;
	cursor: pointer;
	display: inline-block;
}

#player .progress > .liner,
#player .volume > .liner {
	position: relative;
	padding: 10px 0 15px 110px;
	margin: 0 30px;
}


/* bars (progress and volume */

.slider {
	height: 2px;
	background: #888888;
    cursor: hand;
    cursor: pointer;
	position: relative;
}

.slider .ui-slider-range {
	height: 100%;
	background: #1cf4c4;
	width: 1px;
	position: absolute;
	top: 0;
	left: 0;
}

.slider .ui-slider-handle {
	width: 13px;
    height: 13px;
    border-radius: 10px;
    background: #FFFFFF;
    position: absolute;
    top: -4px;
    right: -6px;
	display: none;
}

