<div>

	<h1 ng-bind="category.name"></h1>
	
	<div class="playlist-items square-panels">
		
		<div class="item-container" ng-repeat="playlist in playlists.items">
			<a href="/#/browse_playlist/{{ playlist.uri }}" class="square-panel playlist">
				<div class="image-container" ng-repeat="image in playlist.images | limitTo:1">
					<div class="image animate" style="background-image: url({{ image.url }});"></div>
				</div>
				<div class="info animate">
					<div class="name" ng-bind="playlist.name"></div>
					<div class="secondary tracks"><span ng-bind="playlist.tracks.total"></span> tracks</div>
				</div>
			</a>
		</div>
	
		<div ng-hide="playlists.items.length" class="no-items">
			No items
		</div>
		
		<div class="clear-both"></div>
	
	</div>
</div>