<div class="page category-page scrolling-panel">
	<div class="inner">
		
        <div class="page-header">
        
            <span class="menu-reveal-trigger mobile-show" ng-click="showMenu()"><i class="fa fa-bars"></i></span>
            
            <h1>
                <span class="si grid mobile-hide"></span>
                Genre / Mood
            </h1>
            
        </div>
	
		<div class="category-items square-panels">
			
			<div class="item-container" ng-repeat="category in categories.items track by $index">
				<a ui-sref="browse.genrecategory({ categoryid: category.id })" class="square-panel category">
					<div class="image-container">
						<thumbnail images="category.icons"></thumbnail>
						<div class="name animate" ng-bind="category.name"></div>
					</div>
				</a>
			</div>
		
			<div ng-hide="categories.items.length" class="no-items">
				No items
			</div>
			
			<div class="clear-both"></div>
		
		</div>
	
	</div>
</div>