<div class="search">
	

	<div class="sub-page-navigation">
		<a class="menu-item"
			ng-repeat="option in ['all','artist','album','playlist','track']"
			href="/search/{{ query }}/{{ option }}"
			ng-class="{active: type == option}">
				{{ option }}<span ng-hide="option == 'all'">s</span>
		</a>
		<div class="clear-both"></div>
	</div>
	
	<div ng-if="query">
		<div ng-if="type == 'artist'">
		
			<div ng-show="loading" class="loading">
				<img src="/assets/svg/spinner-black.svg" />
			</div>
			
			<div class="artist-items square-panels">
				<div class="item-container" ng-repeat="artist in artists.items">
					<a href="/browse/artist/{{ artist.uri }}" class="square-panel artist">
						<div class="image-container">
							<thumbnail images="artist.images"></thumbnail>
						</div>
						<div class="info animate">
							<div class="name" ng-bind="artist.name"></div>
						</div>
					</a>
				</div>
			</div>
			<div ng-hide="artists.items.length || loading" class="no-items">
				No items
			</div>		
			<div class="clear-both"></div>
		</div>
		
		<div ng-if="type == 'album'">		
		
			<div ng-show="loading" class="loading">
				<img src="/assets/svg/spinner-black.svg" />
			</div>
			
			<div class="album-items square-panels">
				<div class="item-container" ng-repeat="album in albums.items">
					<a href="/browse/album/{{ album.uri }}" class="square-panel album">
						<div class="image-container">
							<thumbnail images="album.images"></thumbnail>
						</div>
						<div class="info animate">
							<div class="name" ng-bind="album.name"></div>
							<div class="secondary tracks"><span ng-bind="album.tracks.total"></span> tracks</div>
						</div>
					</a>
				</div>
			</div>		
			<div ng-hide="albums.items.length || loading" class="no-items">
				No items
			</div>		
			<div class="clear-both"></div>
		</div>
		
		<div ng-if="type == 'playlist'">		
		
			<div ng-show="loading" class="loading">
				<img src="/assets/svg/spinner-black.svg" />
			</div>
			
			<div class="playlist-items square-panels">
				<div class="item-container" ng-repeat="playlist in playlists.items">
					<a href="/browse/playlist/{{ playlist.uri }}" class="square-panel playlist">
						<div class="image-container">
							<thumbnail images="playlist.images"></thumbnail>
						</div>
						<div class="info animate">
							<div class="name" ng-bind="playlist.name"></div>
							<div class="secondary tracks"><span ng-bind="playlist.tracks.total"></span> tracks</div>
						</div>
					</a>
				</div>
			</div>		
			<div ng-hide="playlists.items.length || loading" class="no-items">
				No items
			</div>		
			<div class="clear-both"></div>
		</div>
		
		<div ng-if="type == 'track'">
		
			<div ng-show="loading" class="loading">
				<img src="/assets/svg/spinner-black.svg" />
			</div>
			
			<div class="search-items tracklist"  ng-controller="TracklistController">
				<track ng-repeat="track in tracklist.tracks"></track>	
			</div>
			<div ng-hide="tracklist.tracks.length || loading" class="no-items">
				No items
			</div>	
		</div>
		
		<div ng-if="type == 'all'">
		
			<div ng-show="loading" class="loading">
				<img src="/assets/svg/spinner-black.svg" />
			</div>
		
			<div class="search-results-section artists" ng-hide="loading">
				<h4 class="section-title"><a href="/search/{{ query }}/artist">Artists</a></h4>	
				<div class="artist-items square-panels">
					<div class="item-container" ng-repeat="artist in artists.items | limitTo: 4">
						<a href="/browse/artist/{{ artist.uri }}" class="square-panel artist">
							<div class="image-container">
								<thumbnail images="artist.images" size="small"></thumbnail>
							</div>
							<div class="info animate">
								<div class="name" ng-bind="artist.name"></div>
							</div>
						</a>
					</div>
				</div>
				<div class="clear-both"></div>
			</div>
			
			<div class="search-results-section albums" ng-hide="loading">
				<h4 class="section-title"><a href="/search/{{ query }}/album">Albums</a></h4>	
				<div class="album-items square-panels">
					<div class="item-container" ng-repeat="album in albums.items | limitTo: 4">
						<a href="/browse/album/{{ album.uri }}" class="square-panel album">
							<div class="image-container">
								<thumbnail images="album.images" size="small"></thumbnail>
							</div>
							<div class="info animate">
								<div class="name" ng-bind="album.name"></div>
							</div>
						</a>
					</div>
				</div>
				<div class="clear-both"></div>
			</div>	
			
			<div class="search-results-section playlists" ng-hide="loading">
				<h4 class="section-title"><a href="/search/{{ query }}/playlist">Playlists</a></h4>		
				<div class="playlist-items square-panels">
					<div class="item-container" ng-repeat="playlist in playlists.items | limitTo: 4">
						<a href="/browse/playlist/{{ playlist.uri }}" class="square-panel playlist">
							<div class="image-container">
								<thumbnail images="playlist.images" size="small"></thumbnail>
							</div>
							<div class="info animate">
								<div class="name" ng-bind="playlist.name"></div>
								<div class="secondary tracks"><span ng-bind="playlist.tracks.total"></span> tracks</div>
							</div>
						</a>
					</div>
				</div>
				<div class="clear-both"></div>
			</div>
			
			<div class="clear-both"></div>
			
			<div class="search-results-section tracks" ng-hide="loading">
				<h4 class="section-title"><a href="/search/{{ query }}/track">Tracks</a></h4>	
				<div class="search-items tracklist"  ng-controller="TracklistController">			
				
					<track ng-repeat="track in tracklist.tracks"></track>

					<div ng-hide="tracklist.tracks.length" class="no-items">
						No items
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
</div>