<div id="sidebar">
	<div class="inner">

		<ul class="main-menu">
			<li ng-repeat="item in MainMenu">
				<a href="{{ item.Link }}">
					<i class="fa fa-{{ item.Icon }}"></i>
					{{ item.Title }}
				</a>
				<ul ng-show="item.Children.length">
					<li ng-repeat="item in item.Children">
						<a href="{{ item.Link }}">{{ item.Title }}</a>
					</li>
				</ul>
			</li>
		</ul>

		<div class="spotify">
			Spotify:
			<span ng-show="SpotifyOnline">Online</span>
			<span ng-hide="SpotifyOnline">Offline</span>
		</div>

		<div class="mopidy">
			Mopidy:
			<span ng-show="Mopidy.Online">Online</span>
			<span ng-hide="Mopidy.Online">Offline</span>
		</div>

	</div>
</div>