<div>

	<h1>My Playlists</h1>
	
	<div class="playlist-items square-panels">
		
		<div class="item-container" ng-repeat="playlist in playlists">
			<a href="/playlist/{{ playlist.uri }}" class="square-panel playlist">
				<div class="image-container animate" ng-repeat="image in playlist.images | limitTo:1">
					<img class="image" src="{{ image.url }}" />
				</div>
				<div class="info animate">
					<div class="name">{{ playlist.name }}</div>
					<div class="secondary tracks">{{ playlist.tracks.total }} tracks</div>
				</div>
			</a>
		</div>
	
		<div ng-hide="playlists.length" class="no-items">
			No items
		</div>
	
	</div>
	
</div>