<div class="col" ng-class="{'w70': (!mediumScreen() && origin == 'spotify'), 'w100': (mediumScreen() || origin != 'spotify') }">

	<h4 class="section-title">Top tracks</h4>
	<tracklist ng-if="tracklist.tracks && origin == 'spotify'" tracks="tracklist.tracks" type="track" class="tracklist top-tracks"></tracklist>
	<tracklist ng-if="tracklist.tracks && origin != 'spotify'" tracks="tracklist.tracks" type="localtrack" class="tracklist top-tracks"></tracklist>
    
</div>

<div class="col w25 pull-right" ng-if="!mediumScreen() && origin == 'spotify'">

	<h4 class="section-title">Related Artists</h4>
	
	<div class="artist-list related-artists">
		<a
            ng-repeat="artist in relatedArtists | limitTo:6 track by $index"
            class="artist"
            ui-sref="browse.artist.overview({ uri: artist.uri })"           
            candrag
            dragobj="artist"
            draggable="false">
                <thumbnail size="small" images="artist.images"></thumbnail>
                <span class="name" ng-bind="artist.name"></span>
		</a>

		<div ng-hide="relatedArtists.length" class="no-items">
			No items
		</div>
	</div>

</div>

<div class="clear-both spacer"></div>

<h4 class="section-title">Albums</h4>

<div class="album-items square-panels">
    <div class="item-container" ng-repeat="album in albums.items track by $index">
        <a ui-sref="browse.artistalbum({ artisturi: artist.uri, uri: album.uri })" class="square-panel album"
            ng-if="origin == 'spotify'"
            candrag
            dragobj="album"
            draggable="false">
                <div class="image-container">
                    <thumbnail size="medium" images="album.images"></thumbnail>
                </div>
                <div class="info smaller animate">
                    <div class="name" ng-bind="album.name"></div>
                </div>
        </a>
        <a ui-sref="browse.album({ uri: album.uri })" class="square-panel album"
            ng-if="origin != 'spotify'"
            candrag
            dragobj="album"
            draggable="false">
                <div class="image-container">
                    <thumbnail size="medium" images="album.images"></thumbnail>
                </div>
                <div class="info smaller animate">
                    <div class="name" ng-bind="album.name"></div>
                </div>
        </a>
    </div>
</div>

<div class="clear-both"></div>