# If you've pulled Spotmop via GitHub, you can run this using any webserver
# by navigating to localhost/test. Otherwise we'll redirect it to the Mopidy instance as per below

RewriteEngine On
RewriteRule ^$ /mopidy_spotmop/static/testing.html [NC,L]
RewriteRule ^$ /mopidy_spotmop/static/$1 [NC,L]
