<div id="player">

	<div class="background-container animate" ng-repeat="image in currentTlTrack.track.album.images | limitTo:1">
		<div class="image" style="background-image: url({{ image.url }})"></div>
	</div>
	
	<div class="inner">

		<div class="track-info">
			<span class="track" ng-bind="currentTlTrack.track.name"></span>
			<span class="artist">
				<span ng-repeat="artist in currentTlTrack.track.artists">
					<a href="/browse/artist/{{ artist.uri }}" ng-bind="artist.name"></a><span ng-show="!$last">, </span>
				</span>
			</span>
		</div>

		<div class="playback">
			<div class="controls">
				<span class="button previous" ng-click="previous()"><i class="fa fa-step-backward"></i></span>
				<span class="button play-pause" ng-click="playPause()">
					<i class="fa fa-play" ng-show="!playing"></i>
					<i class="fa fa-pause" ng-show="playing"></i>
				</span>
				<span class="button next" ng-click="next()"><i class="fa fa-step-forward"></i></span>
			</div>
			<div class="slider" ng-click="seek($event)">
				<div class="track">
					<div class="fill animate" style="width: {{ playPositionPercent() }}%"></div>
				</div>
			</div>
		</div>

		<div class="volume">
			<div class="controls">
				<span class="button random" ng-click="toggleRandom()" ng-class="{active: isRandom}">
					<i class="fa fa-random"></i>
				</span>
				<span class="button repeat" ng-click="toggleRepeat()" ng-class="{active: isRepeat}">
					<i class="fa fa-repeat"></i>
				</span>
				<span class="button mute" ng-click="toggleMute()" ng-class="{active: isMute}">
					<i class="fa fa-volume-off" ng-show="muted"></i>
					<i class="fa fa-volume-down" ng-show="!muted"></i>
				</span>
			</div>
			<div class="slider" ng-click="setVolume($event)">
				<div class="track">
					<div class="fill" style="width: {{ volume }}%"></div>
				</div>
			</div>
		</div>

		<div class="clear-both"></div>
		
	</div>
</div>