<!DOCTYPE HTML>
<html>
<head>
	
	<title>Spotmop</title>	
    <base href="#/">
	
	<script type="text/javascript" src="//www.google-analytics.com/analytics.js"></script>
    
    <script src="app.min.js"></script>
    
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,700" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic" />
    
    <link rel="stylesheet" href="assets/css/style.min.css"/>
    
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scaleable=no" name="viewport" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#222222">
	
	<link rel="shortcut icon" type="image/ico" href="assets/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico" />
	<link rel="shortcut-icon" href="/assets/favicon.ico" />
	
</head>
<body>

	<div id="app" ng-app="spotmop" ng-controller="ApplicationController" ng-class="{ smallScreen: smallScreen(), mediumScreen: mediumScreen(), touchDevice: isTouchMode() }" ng-swipe-right="showMenu()" ng-swipe-left="hideMenu()">
	
		<div id="notifications"></div>
		
		<div id="sidebar" class="animate" ng-swipe-right="showMenu()" ng-swipe-left="hideMenu()" >
			<div class="background-image" ng-if="!mediumScreen()">
				<preloadedimage watch="true" class="image blur" url="{{ state().currentTlTrack.track.image }}"></preloadedimage>
			</div>
			<div class="inner">
				<div class="search-form mobile-hide">
					<form ng-submit="searchSubmit( query )">
						<input type="text" name="query" placeholder="Search" class="query" ng-model="query" />
						<button class="submit" type="submit">
							<i class="fa fa-search"></i>
						</button>
					</form>
				</div>
				<ng-include src="'app/common/mainmenu.template.html'"></ng-include>	
			</div>            
		</div>
            
        <div id="dropzones" class="animate fadereveal">
            <div class="dropzone queue droppable animate" dropaccept='["track","album","localtrack"]' droptype="queue">
                <div class="liner default-content">
                    <i class="si play white doublesize"></i>
                    <div class="label">Add to queue</div>
                </div>
                <div class="liner hover-content animate fadereveal">
                    <div class="dropzone add-to-queue droppable" dropaccept='["track","album","localtrack"]' droptype="queue">
                        <i class="si play doublesize white"></i>
                        <div class="label">Add to queue</div>
                    </div>
                    <div class="dropzone add-to-queue-next droppable" dropaccept='["track","album","localtrack"]' droptype="queuenext">
                        <div class="label">... and play next</div>
                    </div>
                </div>
            </div>
            <div class="dropzone library droppable animate" dropaccept='["track","tltrack","album","artist","playlist"]' droptype="library">
                <div class="liner">
                    <i class="si music white doublesize"></i>
                    <div class="label">Add to library</div>
                </div>
            </div>
            <div class="dropzone playlists droppable animate" dropaccept='["track","tltrack","album"]' droptype="playlist" ng-if="spotifyAuthorized">
                <div class="liner default-content">
                    <i class="si playlist white doublesize"></i>
                    <div class="label">Add to playlist</div>
                </div>
                <div class="liner hover-content animate fadereveal">
                    <a ng-repeat="playlist in playlistsMenu" class="menu-item droppable" ui-sref="library.playlist({ uri: {{ 'playlist.uri' }} })" dropaccept='["track","tltrack","album"]' droptype="playlist" data-uri="{{ playlist.uri }}">
                        <span ng-bind="playlist.name"></span>
                    </a>
                </div>
            </div>
        </div>
		
		<ng-include src="'app/player/template.html'" ng-controller="PlayerController"></ng-include>	

		<div id="body" class="body animate">
			<div ui-view></div>
		</div>
		
		<contextmenu></contextmenu>
		<div class="drag-tracer"></div>
		
	</div>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-64701652-3', 'auto');
		ga('send', 'pageview');
	</script>
	
</body>
</html>
