<span class="artist-list">
    <span ng-repeat="artist in artists" ng-if="!nolinks"><a ui-sref="browse.artist.overview({ uri: artist.uri })" ng-bind="artist.name" ng-if="artist.uri && !nolinks"></a><span ng-bind="artist.name" ng-if="!artist.uri"></span><span ng-if="!$last"><span ng-if="sentence"> and </span><span ng-if="!sentence">, </span></span></span>
    <span ng-repeat="artist in artists" ng-if="nolinks"><span ng-bind="artist.name"></span><span ng-if="!$last"><span ng-if="sentence">and </span><span ng-if="!sentence">, </span></span></span>
</span>