<div class="field dropdown" ng-class="{ expanded: visible }">
	<div class="current-option option" ng-click="toggleVisibility()">
		<i class="fa fa-fw" ng-class="{ 'fa-chevron-down': !visible, 'fa-chevron-up': visible }" ng-show="!iconclass"></i>
		<i class="fa fa-fw" ng-class="{ '{{iconclass}}': !visible, 'fa-chevron-up': visible }" ng-show="iconclass"></i>
		<span class="label" ng-bind="currentOption().label"></span>
	</div>
	<div class="options" ng-show="visible">
		<div
			class="option"
			ng-repeat="option in options track by $index"
			ng-bind="option.label"
			ng-click="selectOption(option)"
			ng-class="{ selected: ( option.value == currentOption.value ) }"
			></div>
	</div>
</div>