<div class="controls">
    <span class="si chevron-left" ng-click="prev()"></span><span class="si chevron-right next" ng-click="next()"></span>
</div>
<div class="slides swipedisabled">
    <div class="slides-content">
        <div class="item-container" ng-repeat="item in items track by $index">
            <a ui-sref="browse.artist.overview({ uri: item.uri })" ng-if="item.type == 'artist'"
                class="square-panel artists draggable"
                data-id="{{ item.id }}"
                draggable="false"
                candrag
                dragobj="item">
                <div class="image-container">
                    <thumbnail images="item.images"></thumbnail>
                </div>
                <div class="info smaller animate">
                    <div class="name" ng-bind="item.name"></div>
                </div>
            </a>
            <a ui-sref="browse.album({ uri: item.uri })" ng-if="item.type == 'album'"
                class="square-panel album draggable"
                data-id="{{ item.id }}"
                draggable="false"
                candrag
                dragobj="item">
                <div class="image-container">
                    <thumbnail images="item.images"></thumbnail>
                </div>
                <div class="info animate">
                    <div class="name" ng-bind="item.name"></div>
                    <div class="secondary">
                        <artistlist artists="item.artists" nolinks="false"></artistlist>
                    </div>
                </div>
            </a>
            <a ui-sref="browse.playlist({ uri: item.uri })" ng-if="item.type == 'playlist'"
                class="square-panel album draggable"
                data-id="{{ item.id }}"
                draggable="false"
                candrag
                dragobj="item">
                <div class="image-container">
                    <thumbnail images="item.images"></thumbnail>
                </div>
                <div class="info animate">
                    <div class="name" ng-bind="item.name"></div>
                    <div class="secondary">
						<span ng-bind="item.tracks.total"></span> tracks
					</div>
                </div>
            </a>
        </div>
    </div>
</div>