<div class="contextmenu {{ triggerEvent }}">

	<div ng-if="triggerEvent == 'touch'" class="touch-menu">
		<span class="menu-item" singleclick="play()">
			<i class="fa fa-play"></i>
			<span class="text">Play</span>
		</span>
		<span class="menu-item" singleclick="playNext()" ng-show="context == 'track' || context == 'localtrack'">
			<i class="fa fa-step-forward"></i>
			<span class="text">Play next</span>
		</span>
		<span class="menu-item" singleclick="enqueue()" ng-show="context == 'track' || context == 'localtrack'">
			<i class="fa fa-plus"></i>
			<span class="text">Queue</span>
		</span>
		<span class="menu-item" singleclick="addToPlaylist()" ng-show="context != 'localtrack'">
			<i class="fa fa-plus"></i>
			<span class="text">Playlist</span>
		</span>
		<span class="menu-item" singleclick="addToLibrary()" ng-show="context != 'localtrack'">
			<i class="fa fa-plus"></i>
			<span class="text">Library</span>
		</span>
		<span class="menu-item" singleclick="removeFromPlaylist()" ng-show="context == 'track'">
			<i class="fa fa-trash-o"></i>
			<span class="text">Delete</span>
		</span>
		<span class="menu-item" singleclick="unqueue()" ng-show="context == 'tltrack'">
			<i class="fa fa-trash-o"></i>
			<span class="text">Delete</span>
		</span>
		<span class="menu-item cancel" singleclick="unselectAll()">
			<i class="fa fa-close"></i>
			<span class="text">Cancel</span>
		</span>
	</div>
	
	<div ng-if="triggerEvent == 'click'" class="non-touch-menu">
		<span class="menu-item" singleclick="play()">
            Play
        </span>
		<span class="menu-item" ng-show="context == 'track' || context == 'localtrack'" singleclick="playNext()">
            Play next
        </span>
		<span class="menu-item" ng-show="context == 'track' || context == 'localtrack'" singleclick="enqueue()">
            Add to queue
        </span>
		<span class="menu-item has-submenu" ng-show="context != 'localtrack'">
            Add to playlist <i class="fa fa-caret-right"></i>
            <div class="sub-menu">
                <span class="menu-item" ng-repeat="playlist in playlistsMenu" ng-bind="playlist.name" singleclick="addToPlaylistByUri( playlist.uri )"></span>
            </div>
        </span>
		<span class="menu-item" ng-show="context != 'localtrack'" singleclick="addToLibrary()">
            Add to library
        </span>
		<span class="menu-item" ng-show="context != 'localtrack'" ngclipboard data-clipboard-text="stuff" ngclipboard-success="copiedToClipboard(e);">
            Copy URI(s)
        </span>
		<span class="menu-item" ng-show="context == 'tltrack'" singleclick="unqueue()">
            Delete
        </span>
		<span class="menu-item" ng-show="context == 'track'" singleclick="removeFromPlaylist()">
            Delete
        </span>
	</div>
	
</div>