<div class="track"
    ng-class="{ 'selected': track.selected }"
    candrag
    dragobj="track"
    draggable="false"
    data-uri="{{ track.uri }}">

        <div class="selected-state">
            <i class="fa fa-check-square-o" ng-show="track.selected"></i>
            <i class="fa fa-square-o" ng-show="!track.selected"></i>
        </div>

        <div class="title"><span ng-bind="track.name"></span></div>
        
        <div class="artist">
            <span class="artist-list">
                <span ng-repeat="artist in track.artists">
                    <a ui-sref="library.local({ uri: 'local:directory?artist='+artist.uri })" ng-bind="artist.name" ng-if="artist.uri"></a>
                    <span ng-bind="artist.name" ng-if="!artist.uri"></span>
                    <span ng-if="!$last">, </span>
                </span>
            </span>
        </div>
        
        <div class="album">
            <a ui-sref="library.local({ uri: 'local:directory?album='+track.album.uri+'&type=track' })" ng-bind="track.album.name" ng-if="track.album.uri"></a>
            <span ng-bind="track.album.name" ng-if="!track.album.uri"></span>
        </div>
        
        <div class="info">	
            <span class="duration" ng-show="track.length">{{ track.length | formatMilliseconds }}</span>
        </div>
        
        <div class="clear-both"></div>

</div>