<div class="track" ng-class="{ 'selected': track.selected, 'transitioning': track.transitioning }" data-uri="{{ track.uri }}">
        
	<div class="selected-state">
		<i class="fa fa-check-square-o" ng-show="track.selected"></i>
		<i class="fa fa-square-o" ng-show="!track.selected"></i>
	</div>
	
	<div class="title" ng-bind="track.name" ng-class="{ empty: !track.name }"></div>

	<div class="artist" ng-class="{ empty: track.artists.length < 1 }">
		<span ng-repeat="artist in track.artists">
			<a ui-sref="browse.artist.overview({ uri: artist.uri })" ng-bind="artist.name"></a><span ng-if="!$last">, </span>
		</span>
	</div>

	<div class="album" ng-class="{ empty: !track.album.name }">
		<a ui-sref="browse.album({ uri: track.album.uri })" ng-bind="track.album.name"></a>
	</div>

	<div class="duration">
		<span ng-show="track.duration_ms">{{ track.duration_ms | formatMilliseconds }}</span>
		<span ng-show="track.length">{{ track.length | formatMilliseconds }}</span>
	</div>

	<div class="popularity" ng-class="{ empty: !track.popularity }">
		<span class="bar-track">
			<span class="bar" style="width: {{ track.popularity }}%;"></span>
		</span>
	</div>

	<div class="clear-both"></div>

</div>