<div class="page">
	<div class="inner">
		
        <div class="page-header">
        
			<span class="menu-reveal-trigger mobile-show" ng-click="showMenu()"><i class="fa fa-bars"></i></span>
            
            <h1>
                <span class="si folder mobile-hide"></span>
                <span class="path-item">
                    <a ui-sref="local.index">Local</a> &nbsp;/&nbsp; Artists
                </span>
            </h1>
            
            <div class="utilities">
                <input class="list-filter" type="text" ng-model="filterTerm" placeholder="Start typing to filter..." />
            </div>
            
        </div>

        <div class="artist-items square-panels">
            <div class="item-container" ng-repeat="artist in artists track by $index">
                <a ui-sref="browse.artist.overview({ uri: artist.uri })" class="square-panel artist"
                    candrag
                    dragobj="artist"
                    draggable="false">
                        <div class="image-container">
                            <div class="image animate" ng-if="artist.images.medium" style="background-image: url({{ artist.images.medium }});"></div>
                            <div ng-if="!artist.images.medium" class="image placeholder"></div>
                            <!-- TODO: Use built-in image library to get these images -->
                        </div>
                        <div class="info smaller animate">
                            <div class="name" ng-bind="artist.name"></div>
                        </div>
                </a>
            </div>
        </div>
		
	</div>
</div>