<div class="edit-playlist-dialog">
	
	<h4 class="section-title dialog-title">Edit playlist</h4>

	<form>

		<input class="large" name="name" placeholder="Playlist name" ng-model="playlistNewName" />

		<span class="actions">

			<span class="button toggle-public" ng-click="togglePublic()">
				<i class="fa fa-lock fa-fw" ng-show="!playlistNewPublic"></i>
				<i class="fa fa-unlock fa-fw" ng-show="playlistNewPublic"></i>
			</span>

			<span class="button save productive" ng-click="savePlaylist()" ng-hide="saving">
				<i class="fa fa-check"></i>
			</span>
			
			<span ng-show="saving" class="saving">
				<img src="/assets/svg/spinner.svg" class="working" />
			</span>
		
	</form>
	
</div>