<div class="initial-setup-dialog">
	
	<h4 class="section-title dialog-title">Initial Setup</h4>
    <div class="form-note note">These options can be changed later in Settings</div>
    
	<form>
		
		<div class="field text large">
			<input name="username" placeholder="Your name" ng-model="name" />
			<span class="note red-text" ng-if="error">Please enter your name
		</div>

		<div class="field switch">
			<div class="input">
				<switch class="switch-button" name="pusher.disabled" value="settings.pusher.disabled"></switch>
			</div>
			<div class="label">Disable browser notifications</div>
		</div>

		<div class="field switch shortcut-keys">
			<div class="input">
				<switch class="switch-button" name="keyboardShortcutsEnabled" value="settings.keyboardShortcutsEnabled"></switch>
			</div>
			<div class="label">Keyboard shortcuts</div>
		</div>

		<div class="field switch start-spotify-authorization">
			<div class="input">
				<switch class="switch-button" name="spotify.authorizationenabled" value="settings.spotify.authorizationenabled"></switch>
			</div>
			<div class="label">Connect with Spotify</div>
		</div>

		<div class="actions">
			<span class="button save primary" ng-click="save()" ng-hide="saving">
				<i class="fa fa-check"></i>&nbsp; Save
			</span>
			<span ng-show="saving" class="saving">
				<img src="assets/svg/spinner.svg" class="working" />
			</span>
		</div>
		
	</form>
	
</div>