<div>
	
	<div class="user-intro">
		<div class="image-container" ng-repeat="image in user.images  | limitTo:1">
			<div class="image animate" style="background-image: url({{ image.url }});"></div>
		</div>
        <div class="info">
            <h1 ng-bind="user.display_name"></h1>
            <div class="info-text">
                <span ng-bind="user.id"></span>
                 &nbsp;|&nbsp; <span ng-bind="playlists.items.length"></span> Playlists
                 &nbsp;|&nbsp; <span ng-bind="user.followers.total"></span> Followers
                 <span ng-show="user.id == spotifyUser.id">&nbsp;|&nbsp; This is you!</span>
            </div>
        </div>
		<div class="clear-both"></div>
	</div>
	
	
	<h4 class="section-title">Playlists</h4>
	
    <div class="playlist-items square-panels">
        
		<div class="item-container" ng-repeat="playlist in playlists.items">
			<a href="/browse/playlist/{{ playlist.uri }}" class="square-panel playlist">
				<div class="image-container" ng-repeat="image in playlist.images | limitTo:1">
					<div class="image animate" style="background-image: url({{ image.url }});"></div>
				</div>
				<div class="info animate">
					<div class="name" ng-bind="playlist.name"></div>
					<div class="secondary tracks"><span ng-bind="playlist.tracks.total"></span> tracks</div>
				</div>
			</a>
		</div>
	
		<div ng-hide="playlists.items.length" class="no-items">
			No items
		</div>
		
		<div class="clear-both"></div>
	
	</div>
	
</div>