<div class="page featured-playlists-page scrolling-panel">
	<div class="inner">
	
		<span class="menu-reveal-trigger" ng-click="showMenu()"><i class="fa fa-bars"></i></span>
		
		<div class="intro featured-playlists-intro">
			<div class="inner">
				<h1 ng-bind="message"></h1>
			</div>
		
			<div class="image-container">
				<backgroundparallax class="image" image='{"url":"assets/backgrounds/{{ partofday() }}.jpg","width":"1200","height":"600"}' useproxy="true" detectbackground="false" opacity="0.5"></backgroundparallax>
			</div>
            
		</div>
		
		<div class="playlist-items square-panels">
			
			<div class="item-container" ng-repeat="playlist in playlists track by $index">
				<a ui-sref="browse.featuredplaylist({ uri: playlist.uri })" class="square-panel playlist"
                    candrag
                    dragobj="playlist"
                    draggable="false">
                        <div class="image-container">
                            <thumbnail images="playlist.images"></thumbnail>
                        </div>
                        <div class="info animate">
                            <div class="name" ng-bind="playlist.name"></div>
                            <div class="secondary tracks"><span ng-bind="playlist.tracks.total"></span> tracks</div>
                        </div>
				</a>
			</div>
		
			<div ng-hide="playlists.length" class="no-items">
				No items
			</div>
			
			<div class="clear-both"></div>
		
		</div>
		
	</div>
</div>