/**
 * Responsive layouts
 * 
 * Remember if you update the pixel thresholds here, you need to update them in app.js too
 * This is because app.js handles the interactivity of responsive elements (ie sliding nav, etc)
 **/



/* ================================================================================ STRUCTURE ===== */
/* ================================================================================================ */

.mobile-only,
.mobile-show {
	display: none;
}



/* ================================================================= HEIGHT-RELATED ELEMENTS ====== */
/* ================================================================================================ */

@media( max-height: 740px ){
	.main-menu .menu-item > a {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.main-menu .divider {
		padding-top: 10px;
	}
	.main-menu .divider.spacer {
		height: 0;
	}
	
	#body {
		padding-bottom: 50px;
	}
}


/* ================================================================= LANDSCAPE / SMALL SCREENS ==== */
/* ================================================================================================ */

@media( min-width: 800px ){
	.mobile-show {
		display: none !important;
	}
}


/**
 * Narrow OR shallow screens need the skinny player
 **/
@media ( max-width: 800px ), ( max-height: 650px ){
	
	#sidebar > .inner {
		bottom: 54px;
	}
	
	
	/**
	 * Player
	 **/
	
	#player {
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		width: auto;
		height: 40px;
		padding: 12px 0 2px;
		background-color: #222222;
		overflow: hidden;
		line-height: 1.2em;
	}
	
	.player .button {
		margin: 0 3px;
	}
	
	#player .button.previous,
	#player .volume:not(.touch-friendly){
		display: none !important;
	}
	
	#player .volume.touch-friendly{
		display: inline-block !important;
		position: absolute;
		top: 14px;
		right: -10px;
	}
	
	#player .volume.touch-friendly .button {
		font-size: 18px;
	}
	
	#player .track-info {
		padding: 0;
		font-size: 13px;
		padding-left: 80px;
		padding-right: 80px;
	}
	
	#player .playback {
		position: absolute;
		padding-left: 10px;
		top: 16px;
	}
	
	#player > .background-image {
		display: block;
		position: absolute;
		top: -20px;
		right: -20px;
		bottom: -20px;
		left: -20px;
		z-index: -1;
		opacity: 0.3;
	}

	#player > .background-image .image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-position: 0 50%;
		background-size: cover;
	}
	
	#player .slider.progress {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: auto;
		padding: 0;
	}
	
	#player .slider.progress .track,
	#player .slider.progress:hover .track {
		height: 2px;
	}
	
	
	/**
	 * Dropzones
	 **/
	 
	#dropzones .dropzone > .liner {
		padding-top: 19px;
		padding-bottom: 19px;
		font-size: 15px;
	}
	#dropzones .dropzone .label {
		padding-top: 6px;
	}
	#dropzones .dropzone .menu-item {
		font-size: 12px;
		padding: 4px 12px;
	}
	#dropzones .dropzone.queue .dropzone.add-to-queue {
		padding: 4px 20px 4px;
	}
	#dropzones .dropzone.queue .dropzone.add-to-queue-next {
		padding: 4.5px 20px;
	}

}

@media ( max-width: 800px ){

	.mobile-show {
		display: block !important;
	}

	span.mobile-show {
		display: inline-block !important;
	}

	.button.mobile-show {
		display: inline-block !important;
	}
	
	.mobile-hide {
		display: none !important;
	}
    
    .breadcrumbs {
        display: none;
    }
	
	
	/**
	 * Menus
	 **/
	
	.page:not(.search-page) .sub-page-navigation .menu-item.active {
		border-color: #FFFFFF;
	}
	
	
	/**
	 * Tracklists
	 **/
	
	.list .list-item,
	.tracklist .track {
		padding-right: 20px;
		margin-left: -20px;
		margin-right: -20px;
	}
	
	
	
	/**
	 * Swipe menu
	 **/
	 
	#sidebar {
		width: 30%;
		left: -30%;
		z-index: 4;
	}
	 
	#sidebar > .inner {
		bottom: 0;
	}
	
	#body {
		width: 100%;
		padding: 0 0 50px 0;
	}

	.menu-revealed #sidebar {
		left: 0%;
	}
	
	.menu-reveal-trigger {
		display: block;
	}
	
	#loading-bar .bar {
		display: none;
	}
	
	#loading-bar-spinner {
		top: 50% !important;
		left: 50% !important;
		right: auto !important;
		margin-left: -40px;
		margin-top: -40px;
		background: #29d;
		padding: 20px;
		border-radius: 50px;
		width: 50px;
		height: 50px;
	}
	
	#loading-bar-spinner .spinner-icon {
		width: 90% !important;
		height: 90% !important;
		border-color: #FFFFFF transparent transparent #FFFFFF !important;
	}
	
	#sidebar .main-menu {
		padding-top: 15px;
	}
	
	#sidebar .main-menu .divider.spacer {
		height: 0;
	}
	
	
	/**
	 * Body layout
	 **/
	.page > .inner {
		padding: 20px;
	}
	
	/**
	 * Page headings (that also foster the swipe trigger button)
	 **/
	 
	.page-header {
		display: block;
		position: relative;
		margin: -20px -20px 20px -20px;
		background: #222222;
		color: #FFFFFF;
		padding: 15px 20px;
	}
	
	.album-page .page-header, .playlist-page .page-header {
		margin: 0;
	}
	
	.page-header h1 {
		padding: 1px 0 0 30px;
		margin: 0;
		font-size: 18px;
	}
	
	.page-header .fa {
		color: #FFFFFF;
	}
	
	.page-header .button,
	.page-header .button:hover,
	.page-header .button.primary,
	.page-header .button.primary:hover
	.page-header .button.transparent,
	.page-header .button.transparent:hover {
		margin: 3px -10px 0 0;
		padding: 8px 11px;
		background: transparent;
	}
	
	.page-header .utilities .filter .trigger {
        display: block;
        color: #FFFFFF;
		cursor: pointer;
    }
	
	.page-header .utilities .filter .trigger .label {
		display: inline-block;
		padding-top: 3px;
	}
	
	.page-header .utilities .filter .options-wrapper {
		display: none;
		position: absolute;
        top: 52px;
        right: 0px;
		left: 0px;
		background: #EEEEEE;
		padding: 10px;
		z-index: 5;
    }
	
	.page-header .utilities .filter.expanded .options-wrapper {
        display: block;
    }
	
	.page-header .utilities .filter-option {
		color: #000000;
		display: block;
		float: left;
		width: 55px;
		margin: 0;
		border: 0;
		padding: 5px 0;
		text-align: center;
	}
	
	.page-header .utilities .filter-option .si {
		display: inline-block;
		margin: 0;
	}
	
	.page-header .utilities .filter-option .label {
		display: block;
		text-align: center;
		margin: 3px 0 0 0;
	}
    
    .page-header .utilities .switch-button > .switch-track {
        border-color: #FFFFFF;
    }
	
    .page-header .utilities .switch-button:not(.on) > .switch-track > .indicator {
        background: #FFFFFF;
    }
	
	.page-header .utilities input[type="text"]{
		margin: -7px -12px 0 0;
		width: 100px;
		background: rgba(255,255,255,0.15);
		color: #FFFFFF;
	}
	
	
	/**
	 * Notifications
	 **/
	 
	#notifications {
		left: 0;
	}
	
	.page-notification {
		margin-top: -20px;
		padding: 10px 20px;
		text-align: center;
	}
	
	
	/**
	 * Artwork panels
	 **/
	
	.album-intro .square-panel {
		width: 180px;
		height: 180px;
	}
	
	
	/**
	 * Album/playlist page
	 **/
	
	.asset-sidebar {
		position: static;
		width: auto;
		overflow: visible;
		background: transparent;
	}
	
	.content.has-asset-sidebar {
		padding-left: 0;
		overflow: visible;
	}
    
    .content.has-asset-sidebar > .inner {
        padding-top: 25px;
    }
	
	.playlist-page .artist-grid,
	.album-page .artist-grid {
		display: none;
	}
    
    .playlist-page .intro,
    .album-page .intro {
        margin-bottom: 25px;
    }
	
	.playlist-page .info,
    .album-page .info {
        margin-top: -1px !important;
        background: #DDDDDD;
    }
	
	.playlist-page .info:not(.show),
    .album-page .info:not(.show) {
        display: none;
    }
	
	.thumbnail-wrapper.slim-intro-wrapper {
		background: #222222;
		overflow: hidden;
		position: relative;
	}
	
	.thumbnail-wrapper.slim-intro-wrapper .primary-thumbnail > .image {
		opacity: 0.25;
		padding-bottom: 0;
		width: auto;
		border-position: 50% 50%;
		position: absolute;
		top: -20px;
		right: -20px;
		bottom: -20px;
		left: -20px;
		filter: url('assets/svg/blur.svg#blur');
		-webkit-filter: blur(10px);
		filter: blur(10px);
	}
	
	.thumbnail-wrapper.slim-intro-wrapper .slim-intro {
		z-index: 2;
		text-align: center;
		position: relative;
		padding: 60px 20px 40px;
	}
	
	.thumbnail-wrapper.slim-intro-wrapper .slim-intro .image {
		display: block;
		width: 180px;
		height: 180px;
		margin: 0 auto;
		padding-bottom: 0;
		margin-bottom: 10px;
	}
	
	.thumbnail-wrapper.slim-intro-wrapper .slim-intro h1 {
		color: #FFFFFF;
		font-size: 20px
	}
	
	.thumbnail-wrapper.slim-intro-wrapper .slim-intro h2 {
		font-size: 16px;
	}
    
	
	/**
	 * Artist intro panel
	 **/
	 
	.artist-page .artist-intro {
		margin-bottom: 0;
        margin-left: -20px;
        margin-right: -20px;
        margin-top: -20px;
	}
	 
	.artist-page .info-panel .image {
		display: none;
	}
	
	.artist-page .title-panel {
		padding-left: 20px;
	}
	
	.artist-page .info-panel {
		padding-left: 0;
		margin-top: 20px;
	}
	
	.artist-page .info-panel .buttons {
		padding-right: 10px;
	}
	 
    .featured-playlists-intro{
        margin-left: -20px;
        margin-right: -20px;
        margin-top: -20px;
	}
	
	
	/**
	 * Forms
	 **/
	
	.field > .label {
		float: none;
		width: auto;
		text-align: left;
		padding: 0 0 5px;
		font-weight: bold;
	}
	
	.field > .input {
		float: none;
		width: auto;
	}
	
	.field input {
		width: 94%;
		padding-left: 3%;
		padding-right: 3%;
	}
	
	
	/**
	 * Square panels
	 **/
	.square-panels {
        margin-left: -3.5%;
        margin-right: -3.5%;
    }
    
	.square-panel {
		width: 21%;
		margin-bottom: 5%;
	}
	
	.square-panel.category:hover .name,
	.square-panel.category .name {
		padding-bottom: 12%;
	}
    
    slider.square-panels {
        margin-bottom: 10px;
        margin-right: -20px;
    }
    
    slider .controls {
        display: none;
    }
    
    slider .slides {
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
	}
    
    slider .slides-content {
        width: 1100%;
    }
	
	
	/**
	 * Dialogs and popups
	 **/
	
	.dialog .field.large input {
		width: 100%;
	}
	 
	.dialog .content {
		padding-left: 15%;
		padding-right: 15%;
	}
	
	
	/** 
	 * Full player (now playing)
	 **/
	
	#full-player .controls {
		padding-bottom: 15px;
	}
	
	#full-player .track-timer,
	#full-player .progress.slider {
		display: none;
	}
	
	#full-player .volume {
		display: inline-block;
	}
	
	
	/**
	 * General elements
	 **/
	.library-albums .col.info,
	.library-albums .col.main {
		float: none;
		width: auto;
		clear: both;
	}
	
	.library-albums .col.main {
		padding-top: 20px;
	}
	
	.library-albums .col.info .square-panel {
		width: 25%;
		float: left;
		margin-right: 20px;
		margin-left: -10px;
	}
	
	.discover-section .section-title {
		text-align: center;
	}
	
	.discover-section .section-title .artist-list {
		display: block;
	}
}



/* ======================================================= INTERMEDIATE DEVICES (medium-small) ==== */
/* ================================================================================================ */

@media( max-width: 600px ){
	
	
	/**
	 * Swipe menu
	 **/
	 
	#sidebar {
		width: 50%;
		left: -50%;
	}
	
	
	/**
	 * Tables and grids
	 **/
	
	.collapse-for-mobile .col {
		width: 100%;
		float: none;
		padding-top: 2px;
	}
	
	
	/**
	 * Tracklists
	 **/
	
	.tracklist .track {
		padding-right: 20px;
	}
	 
	.tracklist .track .popularity,
	.tracklist .track .duration {
		display: none;
	}
	
	.tracklist .track .title {
		width: 40%;
	}
	
	.tracklist.album-items .track .title,
	.tracklist.album-items .track .artist {
		width: 50%;
	}
	
	
	/**
	 * Artist intro panel
	 **/
	 
	.artist-page .info-panel {
		margin-left: -20px;
		margin-top: 0;
	}

	.artist-intro {
		height: 60vh;
	}
	
	
	/**
	 * Square panels
	 **/
	
	.square-panel.category:hover .name,
	.square-panel.category .name {
		padding-bottom: 8%;
		font-size: 13px;
	}
	
	.square-panels.smaller .square-panel {
		width: 21%;
		margin: 0 2% 5%;
	}
	
	
	/**
	 * Dialog popups
	 **/
	.dialog input.large {
		width: 100%;
	}
	
	.add-to-playlist-dialog .playlist-item {
		float: none;
		width: 94%;
		margin-left: 0 !important;
	}
	
	.edit-playlist-dialog .actions {
		padding-left: 0;
	}
	
	.edit-playlist-dialog .actions .toggle-public {
		margin-left: 0;
	}
	
	
	/**
	 * Buttons and interactive panels
	 **/
	.actions {
		display: block;
		padding-left: 0;
	}
	
	.sub-page-navigation {
		margin-top: 0;
	}
	
	.search-page .sub-page-navigation .menu-item {
		padding: 5px 0;
	}
	
	.page-header .utilities {
		margin-right: 0;
	}
	
	.page-header .utilities .list-filter {
		display: none;
	}
	
	
	/**
	 * Search results page
	 **/
	.search-page .search-results-section {
		float: none;
		width: 100%;
		margin-right: 0;
		padding-right: 0;
	}
	.search-page .search-results-section .square-panel {
		width: 21%;
	}
}



/* =================================================================== PORTRAIT / TINY SCREENS ==== */
/* ================================================================================================ */

@media( max-width: 450px ){
	
	
	.mobile-hide {
		display: none;
	}
	
	h1 {
		font-size: 30px;
	}
	
	
	/**
	 * Swipe menu
	 **/
	 
	#sidebar {
		width: 70%;
		left: -70%;
	}
	
	
	/**
	 * Player
	 **/	
	
	#full-player .artwork {
		width: 100%;
		padding-bottom: 100%;
	}
	
	#full-player .controls {
		width: 100%;
	}
	
	#full-player .button {
		padding: 3px 6px;
	}
	
	
	/**
	 * Artwork panels
	 **/
	
	.browse.album .album-intro .square-panel {
		width: 100%;
		height: auto;
	}
	
	.browse.album .album-intro {
		padding-bottom: 20px;
	}
	
	
	/**
	 * Playlist page
	 **/
	 
	.playlist-intro > .inner {
		padding: 0;
	}
	
	.playlist-intro .thumbnail {
		width: 100%;
		height: 1px;
		padding-bottom: 100%;
		margin: 0;
	}

	.playlist-intro .content {
		clear: both;
		padding-left: 0;
	}

	.playlist-intro .description {
		padding-top: 10px;
	}

	.playlist-intro .buttons {
		padding-top: 10px;
	}
	
	
	/**
	 * Square panels
	 **/
	.square-panel {
		width: 29%;
		margin-bottom: 5%;
	}
	
	.square-panel .info {
		padding-top: 5px;
		height: 60px;
	}
	
	
	/**
	 * Dialogs and popups
	 **/
	 
	.dialog .content {
		padding-left: 10%;
		padding-right: 10%;
	}
	
	.add-to-playlist-dialog .playlist {
		width: 29.3333%;
	}
	
	
	/**
	 * Tracklists
	 **/
	 
	.tracklist .track .title,
	.tracklist .track .artist {
		width: 50%;
	}
	
	.tracklist .track .album {
		clear: left;
		width: auto;
		padding-left: 50%;
		padding-right: 10px;
		opacity: 0.5;
	}
		
}



