/**
 * touchDevice specific elements
 * This is how we show touch-friendly track selection and context menus, etc
 * 
 * Spotmop
 **/

 
 
/**
 * Player
 **/

.touchDevice #full-player .volume,
.touchDevice #player .volume.touch-friendly {
	display: inline-block;
}

#app:not(.touchDevice) #player .volume.touch-friendly,
.touchDevice #player .volume:not(.touch-friendly) {
	display: none;
}

 
 
/**
 * Tracklist context menu
 **/

.touchDevice .tracklist .track {
	padding-left: 30px;
}

.tracklist .track .selected-state {
	display: none;
}

.touchDevice .tracklist .track .selected-state {
	display: block;
	width: 10px;
	position: absolute;
	top: 2px;
	left: 0;
	padding: 10px;
	font-size: 14px;
}

.tracklist-context-menu {
	background: rgba(50,50,50,0.95);
	color: #FFFFFF;
	z-index: 9;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
}

.tracklist-context-menu .menu-item:first-child {
	margin-left: 6px;
}

.tracklist-context-menu .menu-item {
	display: block;
	float: left;
	text-align: center;
	padding: 20px 16px;
	margin-right: 5px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

.tracklist-context-menu .menu-item .fa {
	display: block;
	font-size: 16px;
}

.tracklist-context-menu .menu-item .text {
	padding-top: 5px;
	display: block;
	font-size: 10px;
}

.tracklist-context-menu .menu-item.cancel {
	float: right;
	opacity: 0.5;
}






