/**
 * Core styles
 * 
 * Spotmop
 **/
 
.field {
	clear: both;
	padding-top: 20px;
	text-align: top;
}

.field .label {
	float: left;
	width: 13%;
	padding-top: 8px;
	text-align: right;
	padding-right: 2%;
}

.note {
	display: block;
	padding: 4px 0 5px 0;
	font-family: "Roboto";
	font-size: 12px;
	font-weight: 300;
	color: #777777;
}
	
.field .input {
	float: left;
	width: 85%;
}

.field .input.readonly {
	padding-top: 8.5px;
}

.field input {
	padding: 10px 16px;
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 12px;
	width: 50%;
	background: #FFFFFF;
}

.field input[readonly="true"]{
	border-color: #999999;
	background: #EEEEEE;
}

.field .autosave-success {
	display: none;
	color: #46D938;
	padding: 8px;
	font-size: 18px;
}

.field .connection-status .status,
.field .authentication-token > * {
	padding: 8px 8px 8px 0;
	display: inline-block;
}

.field .connection-status.online .status,
.field .connection-status.online .status.disconnected,
.field .connection-status.offline .status.connected {
	display: none;
}

.field .connection-status.online .status.connected,
.field .connection-status.offline .status.disconnected {
	display: block;
}


/**
 * Switches buttons
 **/

.field.switch .input {
	float: left;
	width: auto;
	padding-right: 15px;
}

.field.switch .label {
	float: left;
	text-align: left;
	width: auto;
}
 
.switch-button {
    margin-top: 6px;
    width: 30px;
    height: 14px;
    background: rgba(0,0,0,0.3);
    padding: 3px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    box-shadow: inset 1px 1px 4px 4px rgba(0,0,0,0.1);
}

.switch-button > .switch {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: #DDDDDD;
    border-radius: 14px;
}

.switch-button.on {
    background: rgba(0,0,0,0.8);
    box-shadow: inset 1px 1px 4px 4px rgba(0,0,0,0.4);
}

.switch-button.on > .switch {
    left: auto;
    right: 3px;
    background: #08d58f;
}





/* ============================================================================== SEARCH FORMS ========= */
/* ===================================================================================================== */

.search-form .query {
	font-family: "Archivo Narrow";
	font-size: 16px;
	font-weight: 100 !important;
	border-bottom: 1px solid #FFFFFF;
	width: 90%;
	padding: 10px 10% 10px 0;
	background: transparent;
	color: #FFFFFF;
}

.search-form .query:focus {
	border-color: #1cf4c4;
}


/**
 * Sidebar form
 **/

.search-form {
	margin: 20px 15px 30px;
	position: relative;
}

.search-form .submit {
	background: transparent;
	color: #FFFFFF;
	position: absolute;
	top: 10px;
	right: 0;
	font-size: 16px;
	cursor: pointer;
}



/**
 * Results page
 **/

#body .search-form {
	width: 100%;
	margin: 0 0 20px 0;
}

#body .search-form input {
	color: #333333;
	border-color: #CCCCCC;
}

#body .search-form .submit {
	color: #333333;
}








