/**
 * Responsive layouts
 * 
 * Remember if you update the pixel thresholds here, you need to update them in app.js too
 * This is because app.js handles the interactivity of responsive elements (ie sliding nav, etc)
 **/



/* ================================================================================ STRUCTURE ===== */
/* ================================================================================================ */

.mobile-only,
.mobile-show {
	display: none;
}



/* ================================================================= HEIGHT-RELATED ELEMENTS ====== */
/* ================================================================================================ */

@media( max-height: 670px ){
	.main-menu .menu-item > a {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.main-menu .divider {
		padding-top: 10px;
	}
	
	#body {
		padding-bottom: 50px;
	}
}

@media( max-height: 300px ){
	
}



/* ================================================================= LANDSCAPE / SMALL SCREENS ==== */
/* ================================================================================================ */

@media( min-width: 800px ){
	.mobile-show {
		display: none !important;
	}
}


/**
 * Narrow OR shallow screens need the skinny player
 **/
@media ( max-width: 800px ), ( max-height: 640px ){
	
	#sidebar > .inner {
		bottom: 54px;
	}
	
	
	/**
	 * Player
	 **/
	
	#player {
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		width: auto;
		height: 40px;
		padding: 12px 0 2px;
		background-color: #222222;
		overflow: hidden;
		line-height: 1.2em;
	}
	
	.player .button {
		margin: 0 3px;
	}
	
	#player .button.previous,
	#player .volume:not(.touch-friendly){
		display: none !important;
	}
	
	#player .volume.touch-friendly{
		display: inline-block !important;
		position: absolute;
		top: 14px;
		right: -10px;
	}
	
	#player .volume.touch-friendly .button {
		font-size: 18px;
	}
	
	#player .track-info {
		padding: 0;
		font-size: 13px;
		padding-left: 80px;
		padding-right: 80px;
	}
	
	#player .playback {
		position: absolute;
		padding-left: 10px;
		top: 16px;
	}
	
	#player > .background-image {
		display: block;
		position: absolute;
		top: -20px;
		right: -20px;
		bottom: -20px;
		left: -20px;
		z-index: -1;
		opacity: 0.3;
	}

	#player > .background-image .image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-position: 0 50%;
		background-size: cover;
	}
	
	#player .slider.progress {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: auto;
		padding: 0;
	}
	
	#player .slider.progress .track,
	#player .slider.progress:hover .track {
		height: 2px;
	}

}

@media ( max-width: 800px ){

	.mobile-show {
		display: block !important;
	}

	.button.mobile-show {
		display: inline-block !important;
	}
	
	.mobile-hide {
		display: none !important;
	}
    
    .breadcrumbs {
        display: none;
    }
	
	
	/**
	 * Menus
	 **/
	
	.page:not(.search-page) .sub-page-navigation .menu-item.active {
		border-color: #FFFFFF;
	}
	
	
	/**
	 * Tracklists
	 **/
	
	.tracklist .track {
		padding-right: 20px;
		margin-left: -20px;
		margin-right: -20px;
	}
	
	
	
	/**
	 * Swipe menu
	 **/
	 
	#sidebar {
		width: 30%;
		left: -30%;
		z-index: 4;
	}
	 
	#sidebar > .inner {
		bottom: 0;
	}
	
	#body {
		width: 100%;
		padding: 0 0 50px 0;
	}

	.menu-revealed #sidebar {
		left: 0%;
	}
	
	.menu-reveal-trigger {
		display: block;
	}
	
	#loading-bar .bar {
		left: 0px !important;
		right: 0px !important;
	}
	
	#loading-bar-spinner {
		right: 10px !important;
		left: auto !important;
	}
	
	#sidebar .main-menu {
		padding-top: 15px;
	}
	
	#sidebar .main-menu .divider.spacer {
		height: 0;
	}
	
	
	/**
	 * Page headings (that also foster the swipe trigger button)
	 **/
	 
	.page-header {
		display: block;
		position: relative;
		margin: -40px -40px 20px -40px;
		background: #333333;
		color: #FFFFFF;
		padding: 15px 20px;
	}
	
	.album-page .page-header, .playlist-page .page-header {
		margin: 0;
	}
	
	.page-header h1 {
		padding: 0;
		margin: 0;
		font-size: 18px;
		text-align: center;
	}
	
	.page-header .button,
	.page-header .button:hover {
		margin: -5px -10px 0 0;
		padding: 8px;
		background: transparent;
	}
	
	
	/**
	 * Notifications
	 **/
	 
	#notifications {
		left: 0;
	}
	
	.page-notification {
		margin-top: -20px;
		padding: 10px 20px;
		text-align: center;
	}
	
	
	/**
	 * Artwork panels
	 **/
	
	.album-intro .square-panel {
		width: 180px;
		height: 180px;
	}
	
	
	/**
	 * Album/playlist page
	 **/
	
	.asset-sidebar {
		position: static;
		width: auto;
		overflow: visible;
		background: transparent;
	}
	
	.content.has-asset-sidebar {
		padding-left: 0;
		overflow: visible;
	}
    
    .content.has-asset-sidebar > .inner {
        padding-top: 10px;
    }
	
	.playlist-page .artist-grid,
	.album-page .artist-grid {
		display: none;
	}
    
    .playlist-page .intro,
    .album-page .intro {
        margin-bottom: 25px;
    }
	
	.playlist-page .info,
    .album-page .info {
        margin-top: 0;
        background: #EEEEEE;
    }
	
	.playlist-page .info:not(.show),
    .album-page .info:not(.show) {
        display: none;
    }
    
    
	
	/**
	 * Artist intro panel
	 **/
	 
	.artist-page .artist-intro {
		margin-bottom: 0;
        margin-left: -20px;
        margin-right: -20px;
        margin-top: -20px;
	}
	 
	.artist-page .info-panel .thumbnail {
		display: none;
	}
	
	.artist-page .title-panel {
		padding-left: 40px;
	}
	
	.artist-page .info-panel {
		padding-left: 0;
		margin-top: 20px;
	}
	
	.artist-page .info-panel .buttons {
		padding-right: 10px;
	}
	 
    .featured-playlists-intro{
        margin-left: -20px;
        margin-right: -20px;
        margin-top: -20px;
	}
	
	
	/**
	 * Forms
	 **/
	
	.field > .label {
		float: none;
		width: auto;
		text-align: left;
		padding: 0 0 5px;
		font-weight: bold;
	}
	
	.field > .input {
		float: none;
		width: auto;
	}
	
	.field input {
		width: 98%;
	}
	
	
	/**
	 * Square panels
	 **/
	.square-panel {
		width: 21%;
		margin-bottom: 5%;
	}
	
	.square-panel.category:hover .name,
	.square-panel.category .name {
		padding-bottom: 12%;
	}
	
	
	/**
	 * Dialogs and popups
	 **/
	
	.dialog .field.large input {
		width: 100%;
	}
	 
	.dialog .content {
		padding-left: 15%;
		padding-right: 15%;
	}
	
	.add-to-playlist-dialog .playlist {
		width: 21%;
	}
	
	
	/** 
	 * Full player (now playing)
	 **/
	
	#full-player .controls {
		padding-bottom: 15px;
	}
	
	#full-player .track-timer,
	#full-player .progress.slider {
		display: none;
	}
	
	#full-player .volume {
		display: inline-block;
	}
	
	
	/**
	 * Search
	 **/
	 
}



/* ======================================================= INTERMEDIATE DEVICES (medium-small) ==== */
/* ================================================================================================ */

@media( max-width: 600px ){
	
	
	/**
	 * Swipe menu
	 **/
	 
	#sidebar {
		width: 50%;
		left: -50%;
	}
	
	
	/**
	 * Page headings (that also foster the swipe trigger button)
	 **/
	.page-header {
		margin: -20px -20px 20px -20px;
	}
	
	
	/**
	 * Body layout
	 **/
	.page > .inner {
		padding: 20px;
	}
	
	
	/**
	 * Tables and grids
	 **/
	
	.collapse-for-mobile .col {
		width: 100%;
		float: none;
		padding-top: 2px;
	}
	
	
	/**
	 * Tracklists
	 **/
	
	.tracklist .track {
		padding-right: 20px;
	}
	 
	.tracklist .track .popularity,
	.tracklist .track .duration {
		display: none;
	}
	
	.tracklist .track .title {
		width: 40%;
	}
	
	.tracklist.album-items .track .title,
	.tracklist.album-items .track .artist {
		width: 50%;
	}
	
	
	/**
	 * Artist intro panel
	 **/
	 
	.artist-page .info-panel {
		margin-left: -20px;
		margin-top: 0;
	}

	.artist-intro {
		height: 60vh;
	}
	
	
	/**
	 * Square panels
	 **/
	
	.square-panel.category:hover .name,
	.square-panel.category .name {
		padding-bottom: 8%;
		font-size: 13px;
	}
	
	.square-panels.smaller .square-panel {
		width: 21%;
		margin: 0 2% 5%;
	}
	
	
	/**
	 * Dialog popups
	 **/
	.dialog input.large {
		width: 100%;
	}
	
	.edit-playlist-dialog .actions {
		padding-left: 0;
	}
	
	.edit-playlist-dialog .actions .toggle-public {
		margin-left: 0;
	}
	
	
	/**
	 * Buttons and interactive panels
	 **/
	.actions {
		display: block;
		padding-left: 0;
	}
	
	.sub-page-navigation {
		margin-top: 0;
	}
	
	.sub-page-navigation .menu-item {
		margin-right: 10px;
	}
	
	.search-page .sub-page-navigation .menu-item {
		padding: 5px 0;
	}
	
	.touchDevice #utilities {
		right: 5px;
	}
	
	
	
	/**
	 * Notifications
	 **/
	
	.page-notification {
		margin-top: -20px;
		margin-right: -20px;
		margin-left: -20px;
		padding: 10px 20px;
	}
}



/* =================================================================== PORTRAIT / TINY SCREENS ==== */
/* ================================================================================================ */

@media( max-width: 450px ){
	
	
	.mobile-hide {
		display: none;
	}
	
	h1 {
		font-size: 30px;
	}
	
	
	/**
	 * Swipe menu
	 **/
	 
	#sidebar {
		width: 70%;
		left: -70%;
	}
	
	
	/**
	 * Player
	 **/	
	
	#full-player .artwork {
		width: 100%;
		padding-bottom: 100%;
	}
	
	#full-player .controls {
		width: 100%;
	}
	
	#full-player .button {
		padding: 3px 6px;
	}
	
	
	/**
	 * Artwork panels
	 **/
	
	.browse.album .album-intro .square-panel {
		width: 100%;
		height: auto;
	}
	
	.browse.album .album-intro {
		padding-bottom: 20px;
	}
	
	
	/**
	 * Playlist page
	 **/
	 
	.playlist-intro > .inner {
		padding: 0;
	}
	
	.playlist-intro .thumbnail {
		width: 100%;
		height: 1px;
		padding-bottom: 100%;
		margin: 0;
	}

	.playlist-intro .content {
		clear: both;
		padding-left: 0;
	}

	.playlist-intro .description {
		padding-top: 10px;
	}

	.playlist-intro .buttons {
		padding-top: 10px;
	}
	
	
	/**
	 * Square panels
	 **/
	.square-panel {
		width: 29%;
		margin-bottom: 5%;
	}
	
	.square-panel .info {
		padding-top: 5px;
		height: 60px;
	}
	
	
	/**
	 * Dialogs and popups
	 **/
	 
	.dialog .content {
		padding-left: 10%;
		padding-right: 10%;
	}
	
	.add-to-playlist-dialog .playlist {
		width: 29.3333%;
	}
	
	
	/**
	 * Tracklists
	 **/
	 
	.tracklist .track .title,
	.tracklist .track .artist {
		width: 50%;
	}
	
	.tracklist .track .album {
		clear: left;
		width: auto;
		padding-left: 50%;
		padding-right: 10px;
		opacity: 0.5;
	}
		
}



