<div>
	<div ng-class="isTouchDevice()">
		<span class="menu-item" ng-click="play()">
			<i class="fa fa-play"></i>
			<span class="text">Play</span>
		</span>
		<span class="menu-item" ng-click="unqueue()">
			<i class="fa fa-trash-o"></i>
			<span class="text">Delete</span>
		</span>
		<span class="menu-item" ng-click="addToPlaylist()">
			<i class="fa fa-plus"></i>
			<span class="text">Playlist</span>
		</span>
		<span class="menu-item" ng-click="addToLibrary()">
			<i class="fa fa-plus"></i>
			<span class="text">Library</span>
		</span>
		<span class="menu-item" ng-click="selectAll()">
			<i class="fa fa-check-square-o"></i>
			<span class="text">Select all</span>
		</span>
		<span class="menu-item cancel" ng-click="unselectAll()">
			<i class="fa fa-close"></i>
			<span class="text">Cancel</span>
		</span>
	</div>
	<div ng-if="!isTouchDevice()">
		<span class="menu-item" ng-click="play()">Play</span>
		<span class="menu-item" ng-show="context == 'track'" ng-click="playNext()">Play next</span>
		<span class="menu-item" ng-show="context == 'track'" ng-click="enqueue()">Add to queue</span>
		<span class="menu-item" ng-click="addToPlaylist()">Add to playlist</span>
		<span class="menu-item" ng-click="addToLibrary()">Add to library</span>
		<span class="menu-item" ng-show="context == 'tltrack'" ng-click="unqueue()">Delete</span>
		<span class="menu-item" ng-show="context == 'track'" ng-click="removeFromPlaylist()">Delete</span>
	</div>
</div>