<html>
<head>
	
	<title>Spotmop</title>	
    <base href="/">
	
	<script type="text/javascript" src="/spotmop/vendor/jquery.min.js"></script>	
	<script type="text/javascript" src="/spotmop/vendor/angular.js"></script>
	<script type="text/javascript" src="/spotmop/vendor/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="/spotmop/vendor/angular-resource.js"></script>
	<script type="text/javascript" src="/spotmop/vendor/angular-storage.min.js"></script>
	<script type="text/javascript" src="/spotmop/vendor/angular-touch.min.js"></script>
	<script type="text/javascript" src="/spotmop/vendor/mopidy.min.js"></script>
	<script type="text/javascript" src="/spotmop/vendor/background-check.min.js"></script>
	<script type="text/javascript" src="/spotmop/vendor/loading-bar.js"></script>
	
	<script type="text/javascript" src="/spotmop/app/app.js"></script>
	<script type="text/javascript" src="/spotmop/app/services/notify/service.js"></script>
	<script type="text/javascript" src="/spotmop/app/services/mopidy/service.js"></script>
	<script type="text/javascript" src="/spotmop/app/services/spotify/service.js"></script>
	<script type="text/javascript" src="/spotmop/app/services/echonest/service.js"></script>
	<script type="text/javascript" src="/spotmop/app/services/dialog/service.js"></script>
	
	<script type="text/javascript" src="/spotmop/app/common/directives.js"></script>
	<script type="text/javascript" src="/spotmop/app/common/contextmenu/directive.js"></script>
	<script type="text/javascript" src="/spotmop/app/common/tracklist/controller.js"></script>
	<script type="text/javascript" src="/spotmop/app/common/tracklist/service.js"></script>
	
	<script type="text/javascript" src="/spotmop/app/discover/controller.js"></script>	
	
	<script type="text/javascript" src="/spotmop/app/browse/controller.js"></script>	
	<script type="text/javascript" src="/spotmop/app/browse/playlist/controller.js"></script>	
	<script type="text/javascript" src="/spotmop/app/browse/album/controller.js"></script>	
	<script type="text/javascript" src="/spotmop/app/browse/artist/controller.js"></script>	
	<script type="text/javascript" src="/spotmop/app/browse/user/controller.js"></script>	
	<script type="text/javascript" src="/spotmop/app/browse/featured/controller.js"></script>	
	<script type="text/javascript" src="/spotmop/app/browse/new/controller.js"></script>	
	<script type="text/javascript" src="/spotmop/app/browse/genre/controller.js"></script>	
	
	<script type="text/javascript" src="/spotmop/app/queue/controller.js"></script>	
	<script type="text/javascript" src="/spotmop/app/library/controller.js"></script>
	<script type="text/javascript" src="/spotmop/app/player/controller.js"></script>	
	<script type="text/javascript" src="/spotmop/app/player/service.js"></script>	
	<script type="text/javascript" src="/spotmop/app/search/controller.js"></script>	
	<script type="text/javascript" src="/spotmop/app/settings/controller.js"></script>	
	<script type="text/javascript" src="/spotmop/app/settings/service.js"></script>	
	
	<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/core.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/forms.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/dialog.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/context-menu.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/touch-devices.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/responsive.css" />
	<link rel="stylesheet" type="text/css" href="/vendor/loading-bar.css" />
	
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scaleable=no" name="viewport" />
	
	<link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
	<link rel="shortcut-icon" href="/assetes/favicon.ico" />
	
</head>
<body>
    
	<div id="app" ng-app="spotmop" ng-controller="ApplicationController" ng-swipe-right="showMenu()" ng-swipe-left="hideMenu()" ng-class="{ smallScreen: smallScreen(), mediumScreen: mediumScreen(), touchDevice: isTouchDevice() }">
	
		<div id="notifications"></div>
		
		<div id="sidebar" class="animate">
			<div class="background-image" ng-repeat="image in state().currentTlTrack.track.album.images | limitTo:1">
				<preloadedimage class="image blur" url="{{ image.url }}"></preloadedimage>
			</div>
			<div class="inner">
				<div class="search-form">
					<form ng-submit="searchSubmit( query )">
						<input type="text" name="query" placeholder="Search" class="query" ng-model="query" />
						<button class="submit" type="submit">
							<i class="fa fa-search"></i>
						</button>
					</form>
				</div>
				<ng-include src="'/app/common/mainmenu.template.html'"></ng-include>	
			</div>
		</div>
		
		<ng-include src="'/app/player/template.html'" ng-controller="PlayerController"></ng-include>	

		<div id="body" class="body animate">
			<div ui-view></div>
		</div>
		
		<contextmenu></contextmenu>
		<div class="drag-tracer"></div>
		
	</div>
	
</body>
</html>