<div class="page category-genre-page scrolling-panel">
	<div class="inner">
		
        <div class="page-header">
        
            <span class="menu-reveal-trigger mobile-show" ng-click="showMenu()"><i class="fa fa-bars"></i></span>
            
            <h1>
                <span class="si grid mobile-hide"></span>
                <span ng-bind="category.name"></span>
            </h1>
            
        </div>
		
		<div class="playlist-items square-panels">
			
			<div class="item-container" ng-repeat="playlist in playlists.items track by $index">
				<a ui-sref="browse.categoryplaylist({ categoryid: category.id, uri: playlist.uri })"
                    class="square-panel playlist"
                    ui-sref="browse.artist.overview({ uri: artist.uri })"           
                    candrag
                    dragobj="playlist"
                    draggable="false">
					<div class="image-container">
						<thumbnail images="playlist.images"></thumbnail>
					</div>
					<div class="info animate">
						<div class="name" ng-bind="playlist.name"></div>
						<div class="secondary tracks"><span ng-bind="playlist.tracks.total"></span> tracks</div>
					</div>
				</a>
			</div>
		
			<div ng-hide="playlists.items.length" class="no-items">
				No items
			</div>
			
			<div class="clear-both"></div>
		
		</div>
		
	</div>
</div>