/**
 * Core styles
 * 
 * Spotmop
 **/

@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,700);

body,
html {
	background: ##FFFFFF;
	color: #000000;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 12px;
}

* {
	border: 0;
	padding: 0;
	margin: 0;
}



/* ================================================================================ STRUCTURE ===== */
/* ================================================================================================ */

#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 110px;
	width: 20%;
	overflow-y: auto;
}

#body {
	position: fixed;
	top: 0;
	right: 0;
	width: 80%;
	bottom: 110px;
	overflow-y: scroll;
}

#player {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 110px;
}

#sidebar > .inner,
#body > .inner,
#player > .inner {
	padding: 20px;
}


/**
 * Column layouts
 * Provides percentage fluid faux tables
 **/
.col {
	float: left;
	min-height: 1px;
}

.col.w5{	width: 5%; }
.col.w10{	width: 10%; }
.col.w15{	width: 15%; }
.col.w20{	width: 20%; }
.col.w25{	width: 25%; }
.col.w30{	width: 30%; }
.col.w35{	width: 35%; }
.col.w40{	width: 40%; }
.col.w45{	width: 45%; }
.col.w50{	width: 50%; }
.col.w55{	width: 55%; }
.col.w60{	width: 60%; }
.col.w65{	width: 65%; }
.col.w70{	width: 70%; }
.col.w75{	width: 75%; }
.col.w80{	width: 80%; }
.col.w85{	width: 85%; }
.col.w90{	width: 90%; }
.col.w95{	width: 95%; }
.col.w100{	width: 100%; }





/* ================================================================================ SIDEBAR ======= */
/* ================================================================================================ */


.main-menu a {
	padding: 3px 6px;
	display: inline-block;
	border-radius: 3px;
	text-decoration: none;
	color: inherit;
}

.main-menu a:hover {
	background: #EEEEEE;
}

.main-menu li {
	padding-top: 2px;
	list-style-type: none;
}

.main-menu > li > a {
	font-size: 17px;
	font-weight: 300;
}

.main-menu > li > a i {
	font-size: 12px;
	width: 1.5em;
	vertical-align: top;
	margin-top: 4px;
}

.main-menu li > ul {
	padding-left: 23px;
	padding-bottom: 5px;
}

.main-menu li > ul a {
	color: #555555;
}





/* ====================================================================== GLOBAL ELEMENTS ========= */
/* ================================================================================================ */


.clear-both {
	clear: both;
}

.hide {
	display: none !important;
}

*:focus {
    outline: none;
}


/**
 * Animations
 * Add .animation to any element to animate :hover and :focus sudo-styles
 **/
 
.animate,
.button,
button,
input[type='submit'] {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/* prevent animations when page is loading */
.loading .animate,
.loading .button,
.loading button,
.loading input[type='submit'] {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}


/**
 * Image effects
 * Blurs, etc
 **/

.blur {
	filter: url(blur.svg#blur);
	-webkit-filter: blur(10px);
	filter: blur(10px);
}



/**
 * Base-level typography
 * Standardise the font styles
 **/

h1 {
	font-size: 26px;
	font-weight: 200;
}

h2 {
	font-size: 20px;
	font-weight: 300;
}

h3 {
	font-size: 18px;
	font-weight: 600;
}

h4 {
	font-size: 14px;
	font-weight: 400;
}

h4.section-title {
	text-transform: uppercase;
	font-weight: 600;
	padding-bottom: 10px;
}

.body a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dotted transparent;
}

.body a:hover {
	border-color: inherit;
}

.info-text {
	color: #AAAAAA;
	text-transform: uppercase;
	padding-top: 5px;
}


/**
 * Text colour variations
 **/

.black-text {		color: #000000; }
.red-text {			color: red; }
.green-text {		color: green; }




/* ====================================================================== STANDARD ELEMENTS ======= */
/* ================================================================================================ */

.bars {
	text-align: right;
}

.bars .bar {
	width: 2px;
	height: 10px;
	background: #333333;
	margin: 0 0 -2px 0;
	display: inline-block;
	opacity: 1;
}

.bars .bar:not(.on) {
	opacity: 0.2;
}

.no-items {
	text-align: center;
	font-size: 16px;
	color: #CCCCCC;
	padding-top: 50px;
	font-weight: bold;
}

/**
 * Square panels
 * The basis for all playlist, album and artist thumbnails
 **/
 
 .square-panels {
	margin-left: -2%;
}
 
.square-panel {
	width: 16%;
	margin: 2% 2% 0 2%;
	display: block;
	float: left;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	text-decoration: none;
	color: inherit;
	border: none !important;
}

.square-panel .image-container {
	position: relative;
	height: 180px;
}

.square-panel .image-container .image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #EEEEEE;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.square-panel:hover .image-container .image {
	opacity: 0.75;
}

.square-panel .info {
	padding-top: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-top: 3px solid transparent;
	margin-top: -3px;
	position: relative;
	height: 50px;
}

.square-panel:hover .info {
	border-color: #1cf4c4;
}

.square-panel .info .secondary {
	padding-top: 2px;
	color: #AAAAAA;
}

/**
 * Unique instances of square panels
 * ie. Category panels
 **/
 
.square-panel.category .name {
	position: absolute;
	padding-bottom: 20%;
	border-bottom: 3px solid transparent;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14px;
}
 
.square-panel.category:hover .name {
	border-color: #1cf4c4;
	padding-bottom: 22%;
}


/**
 * Track rows
 * At least 75% of the functionality lives here. At least.
 **/

.tracklist .track {
	padding: 10px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: -1px;
	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tracklist .track:hover {
	background: #F4F4F4;
	cursor: pointer;
}

.tracklist .track.selected,
.tracklist .track.selected:hover {
	background: #FFF39C;
}

.tracklist .track.playing {
	font-weight: bold;
}
 


/* ====================================================================== PAGE-SPECIFIC =========== */
/* ================================================================================================ */

/**
 * Queue
 **/
 
.queue-intro {
	padding-bottom: 20px;
}


/**
 * Album page
 **/

.album-intro {
	padding-bottom: 20px;
}

.album-intro h1 {
	padding-top: 28px;
}

.album-intro .info-text {
	padding-top: 15px;
}

.album-intro .image-container {
	float: left;
	padding-right: 20px;
	position: relative;
}

.album-intro .image {
	width: 150px;
	height: 150px;
	background-color: #EEEEEE;
	background-size: cover;
	background-position: 50% 50%;
}
 

/**
 * Playlist
 **/

.playlist-intro {
	position: relative;
	margin: -20px -20px 20px -20px;
}

.playlist-intro .image-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
}

.playlist-intro .image {
	position: absolute;
	top: -10px;
	right: -10px;
	bottom: -10px;
	left: -10px;
	background-color: #EEEEEE;
	background-size: cover;
	background-position: 50% 100%;
}

.playlist-intro .inner {
	background: rgba(0,0,0,0.5);
	color: #FFFFFF;
	padding: 50px;
}

.playlist-intro h1 {
	padding-bottom: 8px;
}

.playlist-intro .info-text {
	padding-top: 20px;
}


/**
 * Artist
 **/

.artist-intro {
	position: relative;
	margin: -20px -20px 20px -20px;
	padding: 300px 20px 20px;
}

.artist-intro .image-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
}

.artist-intro .image {
	position: absolute;
	top: -10px;
	right: -10px;
	bottom: -10px;
	left: -10px;
	background-color: #EEEEEE;
	background-size: cover;
	background-position: 50% 50%;
}


/**
 * Settings
 **/

.sub-page {
	padding: 30px 0 20px;
}






/* ====================================================================== PLAYER ================== */
/* ================================================================================================ */

#player .background-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

#player .background-container .image {
	width: 100%;
	height: 100%;
	background-color: #333333;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

#player > .inner {
	background: rgba(0,0,0,0.75);
	color: #FFFFFF;
	padding-bottom: 30px;
}

#player .button {
	padding: 5px;
	margin: 0 5px;
	font-size: 14px;
	opacity: 0.75;
}

#player .button.active,
#player .button:hover {
	opacity: 1;
	cursor: pointer;
}

#player .button.active {
    color: #1cf4c4;
}

#player .track-info {
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	padding: 10px 0 15px;
}

#player .track-info .track {
	display: inline-block;
}

#player .track-info .artist {
	display: inline-block;
	opacity: 0.5;
}

#player .track-info .artist a{
	text-decoration: none;
	color: #FFFFFF;
	border-bottom: 1px dotted transparent;
}

#player .track-info .artist a:hover {
	border-color: #FFFFFF;
}

/**
 * Playback controls
 **/
 
#player .controls {
	float: left;
	margin-left: 15px;
}
 
#player .playback  {
	width: 75%;
	float: left;
}

#player .volume  {
	width: 25%;
	float: right;
}

#player .slider {
	padding: 8px 0;
	margin-left: 120px;
	margin-right: 20px;
	cursor: pointer;
}

#player .slider  .track {
	position: relative;
	height: 2px;
	background: rgba(255,255,255,0.3);
}

#player .slider  .track .fill {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: #1cf4c4;
	
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
	

