/**
 * Core styles
 * 
 * Spotmop
 **/

@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,700);

body,
html {
	background: ##FFFFFF;
	color: #000000;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 12px;
}

* {
	border: 0;
	padding: 0;
	margin: 0;
}



/* ================================================================================ STRUCTURE ===== */
/* ================================================================================================ */

#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 100px;
	width: 20%;
	overflow-y: auto;
}

#body {
	position: fixed;
	top: 0;
	right: 0;
	width: 80%;
	bottom: 100px;
	overflow-y: scroll;
}

#player {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
}

#sidebar > .inner,
#body > .inner,
#player > .inner {
	padding: 20px;
}




/* ================================================================================ SIDEBAR ======= */
/* ================================================================================================ */


.main-menu a {
	padding: 3px 6px;
	display: inline-block;
	border-radius: 3px;
	text-decoration: none;
	color: inherit;
}

.main-menu a:hover {
	background: #EEEEEE;
}

.main-menu li {
	padding-top: 2px;
	list-style-type: none;
}

.main-menu > li > a {
	font-size: 16px;
}

.main-menu > li > a i {
	font-size: 12px;
	width: 1.5em;
	vertical-align: top;
	margin-top: 4px;
}

.main-menu li > ul {
	padding-left: 23px;
	padding-bottom: 5px;
}

.main-menu li > ul a {
	color: #555555;
}





/* ====================================================================== GLOBAL ELEMENTS ========= */
/* ================================================================================================ */


/**
 * Animations
 * Add .animation to any element to animate :hover and :focus sudo-styles
 **/
 
.animate,
.button,
button,
input[type='submit'] {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/* prevent animations when page is loading */
.loading .animate,
.loading .button,
.loading button,
.loading input[type='submit'] {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}





/* ====================================================================== STANDARD ELEMENTS ======= */
/* ================================================================================================ */


/**
 * Square panels
 * The basis for all playlist, album and artist thumbnails
 **/
 
 .square-panels {
	margin-left: -2%;
}
 
.square-panel {
	width: 16%;
	margin: 2%;
	display: block;
	float: left;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	text-decoration: none;
	color: inherit;
}

.square-panel .image-container img {
	max-width: 100%;
}

.square-panel:hover .image-container {
	opacity: 0.75;
}

.square-panel .info {
	padding-top: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-top: 3px solid transparent;
	margin-top: -3px;
	position: relative;
	height: 50px;
}

.square-panel:hover .info {
	border-color: #1cf4c4;
}

.square-panel .info .secondary {
	padding-top: 2px;
	color: #AAAAAA;
}




/* ====================================================================== PLAYER ================== */
/* ================================================================================================ */






