/**
 * Core styles
 * 
 * Spotmop
 **/
 
.field {
	clear: both;
	padding-top: 20px;
}

.field .label {
	float: left;
	width: 13%;
	padding-top: 8px;
	text-align: right;
	padding-right: 2%;
}

.field .input {
	float: left;
	width: 85%;
}

.field .input.readonly {
	padding-top: 8.5px;
}

.field input {
	padding: 8px 12px;
	border: 1px solid #000000;
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 12px;
	width: 50%;
}

.field input[readonly="true"]{
	border-color: #999999;
	background: #EEEEEE;
}

.field input[type=text]:focus {
	border-color: #1cf4c4;
}

.field .autosave-success {
	display: none;
	color: #46D938;
	padding: 8px;
	font-size: 18px;
}

.field .connection-status .status,
.field .authentication-token > * {
	padding: 8px 8px 8px 0;
	display: inline-block;
}

.field .connection-status.online .status,
.field .connection-status.online .status.disconnected,
.field .connection-status.offline .status.connected {
	display: none;
}

.field .connection-status.online .status.connected,
.field .connection-status.offline .status.disconnected {
	display: block;
}


/**
 * Form actions
 * Also used in settings
 **/

.actions .button {
	margin-right: 15px;
}



/**
 * Search form
 **/

.search-form {
	margin-bottom: 70px;
	width: 75%;
	position: relative;
}

.search-form .query {
	font-family: 'Roboto';
	font-size: 80px;
	font-weight: 100 !important;
	border-bottom: 3px solid #666666;
	width: 100%;
	padding: 0;
}

.search-form .query:focus {
	border-color: #1cf4c4;
}

.search-form .dropdown {
	position: absolute;
	top: 35px;
	right: 0;
	font-family: 'Roboto';
	font-size: 50px;
	font-weight: 100;
	text-align: right;
	padding-right: 30px;
	cursor: pointer;
}

.search-form .dropdown.active .value {
	color: #999999;
}

.search-form .dropdown .arrow {
	font-size: 14px;
	position: absolute;
	top: 47%;
	right: 10px;
	z-index: 9;
}

.search-form .dropdown .options {
	position: absolute;
	top: 1.3em;
	right: 0;
	padding: 0 30px 0 30px;
	z-index: 8;
	background: rgba(255,255,255,0.95);
}

.search-form .dropdown .options > .option {
	display: block;
	border: none;
}

.search-form .dropdown:not(.active):hover .arrow,
.search-form .dropdown:not(.active):hover .value,
.search-form .dropdown .options > .option:hover {
	color: #1cf4c4;
}
	








