/**
 * Core styles
 * 
 * Spotmop
 **/
 
.field {
	clear: both;
	padding-top: 20px;
}

.field .label {
	float: left;
	width: 13%;
	padding-top: 8px;
	text-align: right;
	padding-right: 2%;
}

.field .input {
	float: left;
	width: 85%;
}

.field .input.readonly {
	padding-top: 8.5px;
}

.field input {
	padding: 8px 12px;
	border: 1px solid #000000;
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 12px;
	width: 50%;
}

.field input[readonly="true"]{
	border-color: #999999;
	background: #EEEEEE;
}

.field input[type=text]:focus {
	border-color: #1cf4c4;
}

.field .autosave-success {
	display: none;
	color: #46D938;
	padding: 8px;
	font-size: 18px;
}

.field .connection-status .status,
.field .authentication-token > * {
	padding: 8px 8px 8px 0;
	display: inline-block;
}

.field .connection-status.online .status,
.field .connection-status.online .status.disconnected,
.field .connection-status.offline .status.connected {
	display: none;
}

.field .connection-status.online .status.connected,
.field .connection-status.offline .status.disconnected {
	display: block;
}


/**
 * Form actions
 * Also used in settings
 **/

.actions .button {
	margin-right: 15px;
}



/**
 * Search form (sidebar
 **/

.search-form {
	margin-top: -5px;
	padding-bottom: 15px;
	position: relative;
}

.search-form input {
	width: 100%;
	border-bottom: 2px solid #666666;
	padding: 5px 28px 5px 0;
	color: #555555;
	font-size: 12px;
}

.search-form input:focus {
	border-color: #1cf4c4;
}

.search-form button {
	position: absolute;
	top: 5px;
	right: 0;
	background: transparent;
	cursor: pointer;
	color: #666666;
}








