/**
 * Responsive layouts
 * 
 * Remember if you update the pixel thresholds here, you need to update them in app.js too
 * This is because app.js handles the interactivity of responsive elements (ie sliding nav, etc)
 **/



/* ================================================================================ STRUCTURE ===== */
/* ================================================================================================ */

.mobile-only,
.mobile-show {
	display: none;
}



/* ================================================================= HEIGHT-RELATED ELEMENTS ====== */
/* ================================================================================================ */

@media( max-height: 800px ){

	
	/**
	 * Artwork panels
	 **/
	
	.artist-intro {
		padding-top: 300px;
	}
	
}

@media( max-height: 500px ){
	
	
	/**
	 * Artwork panels
	 **/
	
	.artist-intro {
		padding-top: 150px;
	}
}


/* ================================================================= LANDSCAPE / SMALL SCREENS ==== */
/* ================================================================================================ */

@media( max-width: 800px ){
	
	.mobile-hide {
		display: none;
	}
	
	/**
	 * Body elements
	 **/
	
	#body {
		bottom: 56px;
		left: 0;
		width: 100%;
	}
	
	#sidebar {
		width: 50%;
		left: -50%;
		bottom: 56px;
	}
	
	/**
	 * Player bar
	 **/
	
	#player {
		height: 56px;
	}
	
	#player .button {
		margin: 0 3px;
	}
	
	#player > .slim-player.inner {
		padding: 0;
		top: 0;
	}
	
	#player .track-info {
		padding: 20px 40px 0;
	}
	
	#player .playback {
		position: absolute;
		top: 21px;
		width: auto;
		left: 0px;
	}
	
	/**
	 * Artwork panels
	 **/
	
	.album-intro .image {
		width: 180px;
		height: 180px;
	}
	
	.album-intro h1 {
		padding-top: 42px;
	}
	
	.album-intro .info-text {
		padding-top: 5px;
	}
	
	/**
	 * Forms
	 **/
	
	.field > .label {
		float: none;
		width: auto;
		text-align: left;
		padding: 0 0 5px;
		font-weight: bold;
	}
	
	.field > .input {
		float: none;
		width: auto;
	}
	
	.field input {
		width: 98%;
	}
	
	/**
	 * Square panels
	 **/
	.square-panel {
		width: 21%;
		margin-bottom: 5%;
	}
}



/* =================================================================== PORTRAIT / TINY SCREENS ==== */
/* ================================================================================================ */

@media( max-width: 450px ){
	
	.mobile-hide {
		display: none;
	}
	
	/**
	 * Artwork panels
	 **/
	
	.album-intro .image {
		width: 100px;
		height: 100px;
	}
	
	.album-intro h1 {
		padding-top: 15px;
	}
	
	.album-intro .info-text {
		clear: both;
		padding-top: 18px;
	}
	
	/**
	 * Square panels
	 **/
	.square-panel {
		width: 29%;
		margin-bottom: 10%;
	}
	
}
