/**
 * Responsive layouts
 * 
 * Remember if you update the pixel thresholds here, you need to update them in app.js too
 * This is because app.js handles the interactivity of responsive elements (ie sliding nav, etc)
 **/



/* ================================================================================ STRUCTURE ===== */
/* ================================================================================================ */

.mobile-only,
.mobile-show {
	display: none;
}



/* ================================================================= HEIGHT-RELATED ELEMENTS ====== */
/* ================================================================================================ */

@media( max-height: 500px ){
}

@media( max-height: 300px ){
}



/* ================================================================= LANDSCAPE / SMALL SCREENS ==== */
/* ================================================================================================ */

@media( max-width: 800px ){
	
	.mobile-hide {
		display: none;
	}
	
	/**
	 * Body elements
	 **/
	
	#body {
		left: 0;
		width: 100%;
	}
	
	#sidebar {
		width: 30%;
		left: -30%;
	}
	
	#player .progress {
		display: none;
	}
	
	
	/**
	 * Notifications
	 **/
	#notifications {
		left: 0;
	}
	
	
	
	/**
	 * Artwork panels
	 **/
	
	.album-intro .square-panel {
		width: 180px;
		height: 180px;
	}
	
	
	/**
	 * Forms
	 **/
	
	.field > .label {
		float: none;
		width: auto;
		text-align: left;
		padding: 0 0 5px;
		font-weight: bold;
	}
	
	.field > .input {
		float: none;
		width: auto;
	}
	
	.field input {
		width: 98%;
	}
	
	/**
	 * Square panels
	 **/
	.square-panel {
		width: 21%;
		margin-bottom: 5%;
	}
	
	.square-panel.category:hover .name,
	.square-panel.category .name {
		padding-bottom: 12%;
	}
	
	
	/**
	 * Dialogs and popups
	 **/
	
	.dialog input.large {
		width: 89%;
	}
	 
	.dialog .content {
		padding-left: 15%;
		padding-right: 15%;
	}
	
	.add-to-playlist-dialog .playlist {
		width: 21%;
	}
	
	
	/**
	 * Player
	 **/
	
	#player {
		display: none;
	}
}



/* ======================================================= INTERMEDIATE DEVICES (medium-small) ==== */
/* ================================================================================================ */

@media( max-width: 450px ){
	
	#sidebar {
		width: 70%;
		left: -70%;
	}
	
}

@media( max-width: 600px ){
	
	/**
	 * Body layout
	 **/
	#body > .inner {
		padding: 20px;
	}
	
	
	/**
	 * Tables and grids
	 **/
	
	.collapse-for-mobile .col {
		width: 100%;
		float: none;
		padding-top: 2px;
	}
	
	
	/**
	 * Tracklists
	 **/
	 
	.tracklist {
		margin-left: -20px;
		margin-right: -20px;
	}
	
	.tracklist .track {
		padding-right: 20px;
	}
	 
	.tracklist .track .popularity,
	.tracklist .track .duration {
		display: none;
	}
	
	.tracklist .track .title {
		width: 40%;
	}
	
	.tracklist.album-items .track .title,
	.tracklist.album-items .track .artist {
		width: 50%;
	}
	
	
	/**
	 * Intro panels
	 **/
	.playlist-intro .inner {
		padding: 30px;
	}
	
	.artist-intro {
		margin-top: -20px;
		margin-left: -20px;
		margin-right: -20px;
	}
	
	
	/**
	 * Album page
	 **/
	
	.browse.album .album-intro h1 {
		padding-top: 0;
	}
	
	.browse.album .album-intro .square-panel {
		width: 140px;
		height: 140px;
	}
	
	.browse.album .album-intro .info-text {
		clear: none;
	}
	
	.browse.album .album-intro .info-text .label {
		display: none;
	}
	
	.browse.album .album-content {
		clear: both;
		padding-top: 20px;
	}
	
	
	/**
	 * Playlist page
	 **/
	.playlist-intro .thumbnail {
		width: 120px;
		height: 120px;
		margin-left: -10px;
		margin-top: -10px;
	}

	.playlist-intro .content {
		padding-left: 150px;
	}
	
	
	/**
	 * Square panels
	 **/
	
	.square-panel.category:hover .name,
	.square-panel.category .name {
		padding-bottom: 8%;
		font-size: 13px;
	}
	
	
	
	/**
	 * Dialog popups
	 **/
	.dialog input.large {
		width: 100%;
	}
	
	.edit-playlist-dialog .actions {
		display: block;
		padding-left: 0;
	}
	
	.edit-playlist-dialog .actions .toggle-public {
		margin-left: 0;
	}
	
	
	/**
	 * Buttons and interactive panels
	 **/
	.actions {
		padding-left: 0;
	}
	
	.body .button {
		padding: 6px 12px;
	}
	
	
	/**
	 * Player
	 **/
	
	#player {
		display: none;
	}
	 
	#full-player .artwork {
		width: 75%;
		padding-bottom: 75%;
	}
	
	#full-player .controls {
		width: 100%;
	}
}



/* =================================================================== PORTRAIT / TINY SCREENS ==== */
/* ================================================================================================ */

@media( max-width: 450px ){
	
	.mobile-hide {
		display: none;
	}
	
	/**
	 * Artwork panels
	 **/
	
	.browse.album .album-intro .square-panel {
		width: 100%;
		height: auto;
	}
	
	.browse.album .album-intro {
		padding-bottom: 20px;
	}
	
	
	/**
	 * Playlist page
	 **/
	.playlist-intro .thumbnail {
		width: 80px;
		height: 80px;
		margin-top: 5px;
		margin-left: -5px;
	}

	.playlist-intro .content {
		padding-left: 100px;
	}

	.playlist-intro .description {
		padding-top: 10px;
	}

	.playlist-intro .buttons {
		padding-top: 10px;
	}
	
	
	/**
	 * Square panels
	 **/
	.square-panel {
		width: 29%;
		margin-bottom: 5%;
	}
	
	
	/**
	 * Buttons and interactive panels
	 **/	
	.body .button {
		padding: 4px 8px;
	}
	
	
	/**
	 * Dialogs and popups
	 **/
	 
	.dialog .content {
		padding-left: 10%;
		padding-right: 10%;
	}
	
	.add-to-playlist-dialog .playlist {
		width: 29.3333%;
	}
	
}



