/**
 * touchDevice specific elements
 * This is how we show touch-friendly track selection and context menus, etc
 * 
 * Spotmop
 **/
 
 
 
/**
 * Tracklist context menu
 **/

.touchDevice .tracklist .track {
	padding-left: 30px;
}

.tracklist .track .selected-state {
	display: none;
}

.touchDevice .tracklist .track .selected-state {
	display: block;
	width: 10px;
	position: absolute;
	top: 2px;
	left: 0;
	padding: 10px;
	font-size: 14px;
}

/*
.tracklist-context-menu {					display: none; }
.touchDevice .tracklist-context-menu {		display: block; }
*/

.tracklist-context-menu {
	background: #222222;
	color: #FFFFFF;
	z-index: 9;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

.tracklist-context-menu .menu-item {
	display: inline-block;
	padding: 20px 16px;
	font-size: 13px;
}

.tracklist-context-menu .menu-item.close {
	float: right;
	margin-top: -3px;
	font-size: 20px;
}

.tracklist-context-menu .status {
	color: #777777;
	padding-left: 15px;
}






