<div>

	<h1>New Releases</h1>
	
	<div class="album-items square-panels">
		
		<div class="item-container" ng-repeat="album in albums">
			<a href="/browse/album/{{ album.uri }}" class="square-panel album">
				<div class="image-container animate" ng-repeat="image in album.images | limitTo:1">
					<div class="image animate" style="background-image: url({{ image.url }});"></div>
				</div>
				<div class="info animate">
					<div class="name" ng-bind="album.name"></div>
					<div class="secondary tracks">XX tracks</div>
				</div>
			</a>
		</div>
	
		<div ng-hide="albums.length" class="no-items">
			No items
		</div>
	
	</div>
	
</div>