<div class="edit-playlist-dialog">
	
	<h4 class="section-title dialog-title">Edit playlist</h4>

	<form>

        <input class="large" name="name" placeholder="Playlist name" ng-model="newPlaylistName" />
        
        <span class="actions">
            <span class="button save productive" ng-click="savePlaylist()">
                <i class="fa fa-check" ng-hide="saving"></i>
            </span>
            <img src="/assets/svg/spinner.svg" class="working" ng-show="saving" />
        </span>
		
	</form>
	
</div>