<div class="col" ng-class="{'w70': !mediumScreen(), 'w100': mediumScreen()}">

	<h4 class="section-title">Top tracks</h4>
	<tracklist ng-if="tracklist.tracks" tracks="tracklist.tracks" type="track" class="tracklist top-tracks"></tracklist>
    
</div>

<div class="col w25 pull-right" ng-hide="mediumScreen()">

	<h4 class="section-title">Related Artists</h4>
	
	<div class="artist-list related-artists">
		<a
            ng-repeat="artist in relatedArtists | limitTo:6 track by $index"
            class="artist"
            ui-sref="browse.artist.overview({ uri: artist.uri })"           
            candrag
            dragobj="artist"
            draggable="false">
                <span class="thumbnail animate" ng-repeat="image in artist.images | limitTo: 1 : artist.images.length-1" style="background-image: url({{ image.url }});" ng-if="artist.images.length > 0"></span>
                <span class="thumbnail animate" ng-if="artist.images.length <= 0"></span>
                <span class="name" ng-bind="artist.name"></span>
		</a>

		<div ng-hide="relatedArtists.length" class="no-items">
			No items
		</div>
	</div>

</div>

<div class="clear-both spacer"></div>

<h4 class="section-title">Albums</h4>

<div class="album-items square-panels">
	<div class="item-container" ng-repeat="album in albums.items track by $index">
		<a ui-sref="browse.artistalbum({ artisturi: artist.uri, uri: album.uri })" class="square-panel album"
            candrag
            dragobj="album"
            draggable="false">
                <div class="image-container" ng-repeat="image in album.images | filter:image.height=300 | limitTo:1">
                    <div class="image animate" style="background-image: url({{ image.url }});"></div>
                </div>
                <div class="info smaller animate">
                    <div class="name" ng-bind="album.name"></div>
                </div>
		</a>
	</div>
</div>

<div class="clear-both"></div>