<div ng-controller="ArtistController" class="page artist-page scrolling-panel">
	<div class="inner">
	
		<span class="menu-reveal-trigger" ng-click="showMenu()"><i class="fa fa-bars"></i></span>

		<div class="intro artist-intro">
		
			<div class="image-container" ng-repeat="image in artist.images | limitTo:1">
				<backgroundparallax class="image" image="{{ image }}" useproxy="true" detectbackground="true" opacity="0.5"></backgroundparallax>
			</div>
			
			<div class="inner" text-over-image>
				
				<div class="title-panel">
				
					<h1 ng-bind="artist.name" class="background-check"></h1>
					
					<div class="sub-page-navigation">
						<a class="menu-item" ui-sref="browse.artist.overview" ui-sref-active="active">Overview</a>
						<a class="menu-item" ui-sref="browse.artist.related" ui-sref-active="active">Related<span class="mobile-hide"> artists</span></a>
						<a class="menu-item" ui-sref="browse.artist.biography" ui-sref-active="active">Biography</a>
					</div>
					
				</div>
				
			</div>
			
		</div>
				
		<div class="info-panel">
			
            <div class="thumbnail-wrapper"
                candrag
                dragobj="artist"
                draggable="false">
                    <preloadedimage ng-if="artist.images.length > 0" ng-repeat="image in artist.images | limitTo:1" class="thumbnail artist" url="{{ image.url }}" useproxy="true"></preloadedimage>
                    <div class="thumbnail artist placeholder" ng-if="!artist.images || artist.images.length <= 0"></div>
            </div>
			
			<span class="buttons">
			
				<a class="button primary" ng-click="playArtistRadio()"><i class="fa fa-play"></i>&nbsp; Play</a>		
				
				<span class="follow-unfollow" ng-class="{ 'following': following }" ng-if="spotifyAuthorized">
					<a class="button unfollow"
						  ng-class="{destructive: hovering}"
						  ng-click="unfollowArtist()"
						  ng-mouseover="hovering = true"
						  ng-mouseleave="hovering = false">
						<span ng-show="hovering">Unfollow</span>
						<span ng-show="!hovering">Following</span>
					</a>
					<a class="button follow"
						  ng-click="followArtist()">
						<span>Follow</span>
					</a>
				</span>
				
			</span>		
			
			<span class="info-text" class="background-check">
				<div class="info-item capitalize">
					<span class="albums" ng-bind="albums.items.length"></span> albums
				</div>
				<div class="info-item capitalize">
					<span class="followers" ng-bind="artist.followers.total | number:0"></span> followers
				</div>
			</span>	
			
		</div>
		
		<div ui-view></div>
		
	</div>
</div>