<div>
    <div class="field">
        <div class="label">Author</div>
        <div class="input readonly">Built and maintained by James Barnsley (GitHub: <a href="https://github.com/jaedb" target="_blank">jaedb</a>)</div>
		<div class="clear-both"></div>
    </div>

    <div class="field">
        <div class="label">Current version</div>
        <div class="input readonly">
			<span class="spotmop-version" ng-bind="version.version"></span>
			(<a class="spotmop-version" ng-bind="version.commit" target="_blank" href="https://github.com/jaedb/spotmop/commit/{{ version.commit }}"></a>)
		</div>
		<div class="clear-both"></div>
    </div>

    <div class="field shortcut-keys">
        <div class="label">Keyboard shortcuts</div>
        <div class="input">
		
            <span class="switch-button" ng-class="{on: settings.keyboardShortcutsEnabled}" ng-click="toggleKeyboardShortcuts()"><span class="switch animate"></span></span>
			
			<div class="shortcuts" ng-show="settings.keyboardShortcutsEnabled">
				<div class="row collapse-for-mobile">
					<div class="col w20"><span class="flag grey"><i class="fa fa-minus"></i> Spacebar</span></div>
					<div class="col w80">Play/pause</div>
					<div class="clear-both"></div>
				</div>
				<div class="row collapse-for-mobile">
					<div class="col w20"><span class="flag grey"><i class="fa fa-level-down fa-rotate-90"></i>&nbsp; Enter</span></div>
					<div class="col w80">Play selected tracks</div>
					<div class="clear-both"></div>
				</div>
				<div class="row collapse-for-mobile">
					<div class="col w20"><span class="flag grey"><i class="fa fa-close"></i> Delete</span></div>
					<div class="col w80">Delete selected tracks</div>
					<div class="clear-both"></div>
				</div>
				<div class="row collapse-for-mobile">
					<div class="col w20"><span class="flag grey">CTRL + <i class="fa fa-arrow-up"></i> Up arrow</span></div>
					<div class="col w80">Volume up by 10%</div>
					<div class="clear-both"></div>
				</div>
				<div class="row collapse-for-mobile">
					<div class="col w20"><span class="flag grey">CTRL + <i class="fa fa-arrow-down"></i> Down arrow</span></div>
					<div class="col w80">Volume down by 10%</div>
					<div class="clear-both"></div>
				</div>
				<div class="row collapse-for-mobile">
					<div class="col w20"><span class="flag grey">CTRL + <i class="fa fa-arrow-left"></i> Left arrow</span></div>
					<div class="col w80">Previous track</div>
					<div class="clear-both"></div>
				</div>
				<div class="row collapse-for-mobile">
					<div class="col w20"><span class="flag grey">CTRL + <i class="fa fa-arrow-right"></i> Right arrow</span></div>
					<div class="col w80">Next track</div>
					<div class="clear-both"></div>
				</div>
			</div>
		</div>
		<div class="clear-both"></div>
    </div>

    <div class="field">
        <div class="label">Emulate touch device</div>
        <div class="input">		
            <span class="switch-button" ng-class="{on: settings.emulateTouchDevice}" ng-click="toggleEmulateTouchDevice()"><span class="switch animate"></span></span>
		</div>
	</div>

	<div class="actions">
		<confirmation-button
			class="destructive"
			default-text="Reset all settings"
			confirmation-text="Are you sure?"
			on-confirmation="resetSettings">
		</confirmation-button>
	</div>
</div>