
/* ====================================================================== PLAYER ================== */
/* ================================================================================================ */

#player {
	color: #FFFFFF;
}

#player > .background-image {
	display: none;
}

.player .button {
	padding: 5px;
	margin: 0 5px;
	font-size: 14px;
	opacity: 0.75;
	display: inline-block;
	background: transparent;
}

.player .button.active,
.player .button:hover {
	opacity: 1;
	cursor: pointer;
}

.player .button.active {
    color: #08d58f;
}

.player .track-info {
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.player .track-info .track {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.player .track-info .artist {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	opacity: 0.5;
}

.player .track-info .artist a{
	text-decoration: none;
	color: #FFFFFF;
	border-bottom: 1px dotted transparent;
}

.player .track-info .artist a:hover {
	border-color: #FFFFFF;
}

/**
 * Playback controls
 **/
 
#player .controls {
}
 
#player .playback {
	float: left;
	padding-left: 15px;
}

#player .volume {
	float: right;
	padding-right: 20px;
}

#player .volume.touch-friendly {
	display: none;
}

#player .volume .slider {
	display: inline-block;
	width: 40px;
	vertical-align: middle;
	padding: 8px 0;
}

.player .slider {
	cursor: pointer;
}


/**
 * Scrobbling
 **/

.player .slider {
	
	&.progress {
		padding-top: 5px;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 8;
		
		.track {
			background: none;
			height: 4px;
			
			.fill.playing {
				-webkit-transition: all 1s linear;
				-moz-transition: all 1s linear;
				-o-transition: all 1s linear;
				transition: all 1s linear;	
			}
		}
		
		&:hover .track {
			height: 12px;
			background: rgba(0,0,0,0.15);
		}
	}

	.track {
		position: relative;
		height: 2px;
		background: rgba(255,255,255,0.3);
		.fill {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			background: #08d58f;
			max-width: 100%;
		}
	}
}



/**
 * Full player
 **/
 
#full-player {
	text-align: center;
}
 
#full-player .artwork {
	width: 400px;
	padding-bottom: 400px;
	margin: 0 auto 20px;
	position: relative;
	background: #EEEEEE;
	display: block;
	border: 0;
}

#full-player .controls {
	width: 400px;
	margin: 0 auto;
}
 
#full-player .artwork .image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url('assets/svg/no-image.svg');
	background-size: cover;
	background-position: 50% 50%;
}
 
#full-player .track-info {
	color: #000000;
	font-weight: 600;
}

#full-player .track-info .artist a {
	color: #000000;
	display: inline-block;
}

#full-player .track-info .artist a:hover {
	border-color: #000000;
}

#full-player .button {
	color: #000000;
	font-size: 20px;
}

#full-player .button.active {
	color: #08d58f;
}

#full-player .button:hover {
	opacity: 1;
	background: transparent;
}

#full-player .track-timer {
	float: right;
	margin-top: 12px;
}

#full-player .track-timer .current {
	opacity: 0.5;
	padding-right: 2px;
	display: inline-block;
}

#full-player .progress.slider {
	margin: 35px 0;
	position: relative;
}

#full-player .slider .track {
	background: #DDDDDD;
	height: 4px;
}
	
#full-player .volume {
	display: none;
}
