
/**
 * Track rows
 * At least 75% of the functionality lives here. At least.
 **/

.tracklist {		
	.track {
		display: block;
		padding: 10px;
		border-top: 1px solid #EEEEEE;
		border-bottom: 1px solid #EEEEEE;
		margin-bottom: -1px;
		cursor: pointer;
		position: relative;
		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		.title,
		.artist,
		.album,
		.info {
			float: left;
			min-height: 1px;
		}

		.title {		width: 30%; }
		.artist {		width: 30%; }
		.album {		width: 30%; }
		.info {		    width: 10%; text-align: right; }

		.info {
			.duration {
				display: inline-block;
				padding-right: 20px;
			}
			.popularity {
				position: absolute;
				top: 11px;
				right: 10px;
			}
		}
		
		.source {
			display: none;
			position: absolute;
			top: 9px;
			right: 3px;
		}
		
		&.playing {
			font-weight: bold;
		}

		
		/**
		 * Folders
		 **/
		&.folder .icon {
			width: 24px;
			float: left;
		}

		&.folder .title {
			width: auto;
		}
	}
}

.tracklist.search-results,
.tracklist.queue {
	.track {
		.source {
			display: inline-block;
		}
	}
}

body:not(.dragging):not(.touchDevice) .tracklist .track:not(.selected):hover {
	background: #F4F4F4;
	border-color: #EEEEEE;
}

body.dragging .tracklist .track.selected {
	opacity: 0.5;
}

.tracklist .track.selected,
.tracklist .track.selected:hover {
	background: #FFF39C;
}

body.dragging .tracklist .track.dropping {
	border-top: 3px solid #32b5f2;
	margin-top: -3px;
}


/**
 * List (based on tracks also)
 **/
 
.list .list-item {
	display: block;
	padding: 10px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: -1px;
	position: relative;
	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 
.list .list-item.header {
	text-transform: uppercase;
	color: #CCCCCC;
	border-top: 0;
	font-size: 11px;
	padding-bottom: 2px;
}
 
.list .list-item.header .sortable:hover {
	cursor: pointer;
	color: #888888;
}
 
.list .list-item.header .sortable.active {
	color: #32b5f2;
}

.list .list-item:not(.header):hover {
	background: #F4F4F4;
	border-color: #EEEEEE;
	cursor: pointer;
}

.list .list-item .si {
	margin-top: 0;
	vertical-align: bottom;
}

.list .list-item .fa {
	margin-right: 6px;
}

.list .list-item .info {
	width: 5%;
	text-align: right;
	float: right;
}

@media ( max-width: 800px ){
	.list.album-items .release-date {
		display: none;
	}
	.list.album-items .name .si {
		display: none;
	}
	.list.album-items .name,
	.list.album-items .artists {
		width: 40%;
	}
}