<div class="page discover-page scrolling-panel">
	<div class="inner">

		<div class="discover">
		
            <div class="page-header">
            
                <span class="menu-reveal-trigger mobile-show" ng-click="showMenu()"><i class="fa fa-bars"></i></span>
                
                <h1>
                    <span class="si compass mobile-hide"></span>
                    Similar
                </h1>
                
            </div>
			
			<tracklist ng-if="tracks" tracks="tracks" type="track" class="tracklist playlist-items"></tracklist>
			
		</div>
		
	</div>
</div>