<div class="page discover-page scrolling-panel">
	<div class="inner">

		<div class="discover">
			
			<div class="page-header mobile-show">
				<span class="menu-reveal-trigger" ng-click="showMenu()"><i class="fa fa-bars"></i></span>
				<h1>Discover</h1>
			</div>

			<div class="page-notification red-background white-text" ng-show="!echonestOnline">
				<i class="fa fa-exclamation-triangle white-text"></i>
				&nbsp;
				<span>You need to enable EchoNest to discover new music</span>
			</div>
			
			<div class="page-header mobile-hide">
				<h1>Discover</h1>
			</div>
			
			<div class="discover-section" ng-repeat="section in sections track by $index">

				<h4 class="section-title">
					{{ section.title }}
                    <artistlist ng-if="section.artists" artists="section.artists"></artistlist>
					<a ng-if="section.source" ng-bind="section.source.title" href="section.source.link"></a>
				</h4>

				<slider class="square-panels panel-slider" items="section.items"></slider>
				
			</div>
			
		</div>
		
	</div>
</div>