<div class="track {{ class }}" ng-click="trackClicked()" ng-repeat="track in tracklist">
	<div class="col w25 title" ng-bind="track.track.name"></div>
	<div class="col w25 artist">
		<span ng-repeat="artist in track.track.artists">
			<a href="artist/{{ artist.id }}" ng-bind="artist.name"></a><span ng-if="!$last">, </span>
		</span>
	</div>
	<div class="col w25 album" ng-bind="track.track.name"></div>
	<div class="clear-both"></div>
</div>

<div ng-hide="tracklist.length" class="no-items">
	No items
</div>