<div class="browse album-page">
	
	<div class="asset-sidebar">
	
		<div class="thumbnail album" ng-if="album.images.length > 0" ng-repeat="image in album.images | limitTo:1" style="background-image: url({{ image.url }});"></div>
		<div class="thumbnail album placeholder" ng-if="album.images.length <= 0"></div>
		
		<a class="button primary" ng-click="playAlbum()"><i class="fa fa-play"></i>&nbsp; Play</a>
		<a class="button" ng-click="addToLibrary()">Add to library</a>
		
		<div class="clear-left"></div>
			
		<div class="info">
			<div class="info-item capitalize">
				<span ng-bind="album.tracks.total"></span> track<span ng-hide="album.tracks.items.length<=1">s</span>, <span ng-show="album.tracks.next">+</span><span ng-bind="totalTime()"></span> minutes
			</div>
			<div class="info-item capitalize">
				<span class="label">Released: </span>
				<span class="date" ng-bind="convertedDate()"></span>
			</div>
			<div class="info-item capitalize">
				Popularity: 
				<span class="bar-track">
					<span class="bar" style="width: {{ album.popularity }}%;"></span>
				</span>
				&nbsp;
			</div>
		</div>
		
		<div class="clear-left"></div>
		
		<div class="info artist-list">
			<a
			   ng-repeat="artist in album.artists"
			   class="artist"
			   href="/browse/artist/{{ artist.uri }}">
				<span class="thumbnail animate" ng-repeat="image in artist.images | limitTo: 1 : artist.images.length-1" style="background-image: url({{ image.url }});"></span>
				<span class="name" ng-bind="artist.name"></span>
			</a>
		</div>
		
	</div>
	<div class="content">
	
		<div class="intro">
			<h1 ng-bind="album.name"></h1>
		</div>
		
		<div class="album-items tracklist" ng-controller="TracklistController" >
			
			<track ng-repeat="track in tracklist.tracks"></track>

			<div ng-hide="tracklist.tracks.length" class="no-items">
				No items
			</div>

		</div>
		
	</div>
	
</div>