/**
 * Dialog (modal popup) styles
 * 
 * Spotmop
 **/



/* ============================================================================ BASE STYLES ======== */
/* ================================================================================================= */


.dialog .dialog-title {
	padding-bottom: 20px;
}

.dialog .background {
	background: rgba(0,0,0,0.95);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 11;
}

.dialog .content {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 6% 20%;
	color: #FFFFFF;
	z-index: 12;
	overflow-y: auto;
}

.dialog .button.close-dialog {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 13;
    color: #FFFFFF;
}

.dialog .button.destructive:hover {		color: rgb(214,47,47); }
.dialog .button.productive:hover {		color: rgb(53,204,53); }



/* ============================================================================ FORMS ============== */
/* ================================================================================================= */


.dialog input {
	padding: 5px 0;
	background: transparent;
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: 200;
	color: #FFFFFF;
	border: 0;
	border-bottom: 2px solid #FFFFFF;
}

.dialog input:focus {
	border-color: #1cf4c4;
}

.dialog input.large {
	padding: 10px 0;
	font-size: 30px;
	width: 50%;
}

.dialog .switch-button {
	background: rgba(255,255,255,0.2);
}

.dialog .actions {
	padding-left: 0;
	padding-top: 30px;
}

.dialog .actions .button {
	display: inline-block;
	font-size: 30px;
	cursor: pointer;
}

.dialog .actions .working {
    padding-top: 5px;
    width: 30px;
    height: 30px;
}




/* ========================================================================= DIALOG-SPECIFIC ======= */
/* ================================================================================================= */


/**
 * Edit a playlist
 **/
 
.edit-playlist-dialog .actions {
    display: inline-block;
    vertical-align: top;
    margin-top: -12px;
    padding-left: 10px;
}

.edit-playlist-dialog .actions .saving {
	float: right;
	margin-top: -4px;
}

.edit-playlist-dialog .actions .toggle-public {
	margin-left: -50px;
	margin-right: 10px;
}

.edit-playlist-dialog .actions .toggle-public .fa-unlock {
	color: #444444;
}


/**
 * Add tracks to playlist
 **/
 
.add-to-playlist-dialog .select-playlist {
	padding-top: 15px;
	margin: 0 -2%;
}
 
.add-to-playlist-dialog .playlist {
	display: block;
	float: left;
	width: 12.6666%;
}
 
.add-to-playlist-dialog .square-panel .info {
	height: 30px;
}



