<div class="gallery col w30" ng-if="artist.images.length > 0">
	<a href="{{ image.url }}" class="gallery-item" target="_blank" ng-repeat="image in artist.images | limitTo:1">
		<img src="{{ image.url }}" />
	</a>
</div>

<div class="biography" ng-class="{ 'col w70': artist.images.length > 0 }">

	<h4 class="section-title">Biography</h4>	
	<div class="content" ng-bind="artist.biography.text"></div>

	<div class="details">
		Origin: <a href="{{ artist.biography.url }}" target="_blank" ng-bind="artist.biography.site" class="italic-text"></a>
	</div>
	
</div>