<div class="col" ng-class="{'w70': !mediumScreen(), 'w100': mediumScreen()}">

	<h4 class="section-title">Top tracks</h4>

	<div class="top-track-items tracklist" ng-controller="TracklistController">

		<track
		   ng-repeat="track in tracks"
		   track="track"
		   class="track"
		   data-uri="{{ track.uri }}"></track>

		<div ng-hide="tracks.length" class="no-items">
			No items
		</div>

	</div>
</div>

<div class="col w25 pull-right" ng-hide="mediumScreen()">

	<h4 class="section-title">Related Artists</h4>

	<a
	   ng-repeat="artist in relatedArtists | limitTo:6"
	   class="related-artist"
	   href="/browse/artist/{{ artist.uri }}">
		<span class="thumbnail animate" ng-repeat="image in artist.images | limitTo: 1 : artist.images.length-1" style="background-image: url({{ image.url }});"></span>
		<span class="name" ng-bind="artist.name"></span>
	</a>

	<div ng-hide="relatedArtists.length" class="no-items">
		No items
	</div>

</div>

<div class="clear-both"></div>

<h4 class="section-title">Albums</h4>

<div class="album-items square-panels">
	<div class="item-container" ng-repeat="album in albums.items">
		<a href="/browse/album/{{ album.uri }}" class="square-panel album">
			<div class="image-container" ng-repeat="image in album.images | filter:image.height=300 | limitTo:1">
				<div class="image animate" style="background-image: url({{ image.url }});"></div>
			</div>
			<div class="info smaller animate">
				<div class="name" ng-bind="album.name"></div>
			</div>
		</a>
	</div>
</div>

<div class="clear-both"></div>