<div>

	<div class="queue-intro">
		<h1>Queue</h1>
		<div class="info-text">
			<span ng-bind="tracks.length"></span> tracks
			&nbsp;|&nbsp; <span ng-bind="totalTime"></span> minutes
		</div>
	</div>
	
	<div class="queue-items tracklist"  ng-controller="TracklistController">		
	
		<track
		   ng-repeat="track in tracks"
		   track="track.track"
		   class="track"
		   ng-click="trackClicked( $event )"
		   ng-dblclick="trackDoubleClicked( $event )"
		   data-uri="{{ track.track.uri }}"
		   data-tlid="{{ track.tlid }}"
		   ng-drag="true"
		   ng-drag-data="{{ obj }}"
		   ng-drag-success="onDragComplete($data,$event)"></track>

		<div ng-hide="tracks.length" class="no-items">
			No items
		</div>	
		
	</div>
	
</div>