<div class="browse album-page">

	<span class="menu-reveal-trigger" ng-click="showMenu()"><i class="fa fa-bars"></i></span>
	
	<div class="asset-sidebar">
        
        <div
            class="thumbnail-wrapper album slim-intro-wrapper" 
            draggable="false"
            candrag
            dragobj="album">
                <div class="thumbnail album" ng-if="album.images.length > 0" ng-repeat="image in album.images | limitTo:1" style="background-image: url({{ image.url }});"></div>
                <div class="thumbnail album placeholder" ng-if="!album.images || album.images.length <= 0"></div>
				
				<div class="slim-intro mobile-show" ng-if="mediumScreen()">
					<preloadedimage ng-if="album.images.length > 0" ng-repeat="image in album.images | limitTo:1" class="thumbnail album" url="{{ image.url }}" useproxy="true"></preloadedimage>					
					<h1 ng-bind="album.name"></h1>
					<h2 class="description">
						<artistlist artists="album.artists"></artistlist>
					</h2>	
				</div>
		</div>
        
        <div class="clear-left"><!-- clear --></div>
        
		<div class="artist-grid small">
			<a
                ng-repeat="artist in album.artists"
                class="artist draggable"
                ui-sref="browse.artist.overview({ uri: artist.uri })"
                draggable="false"
                candrag
                dragobj="artist">
					<thumbnail ng-if="artist.images" images="artist.images" size="small"></thumbnail>
					<div class="name-wrapper animate"><div class="name" ng-bind="artist.name"></div></div>
			</a>
		</div>
        
        <div class="clear-left"><!-- clear --></div>
		
		<div class="buttons">
			<a class="button primary" ng-click="playAlbum()"><i class="fa fa-play"></i>&nbsp; Play</a>
			<a class="button" ng-click="addToLibrary()" ng-if="spotifyAuthorized && !isInLibrary">Add to library</a>
			<a class="button" ng-click="removeFromLibrary()" ng-if="spotifyAuthorized && isInLibrary">Remove from library</a>
			<a class="button mobile-show tertiary" ng-click="showInfo = !showInfo" ng-class="{ showing: showInfo }">Info</a>
		</div>
		
		<div class="clear-left"></div>
			
		<div class="info" ng-class="{ show: showInfo }">
			<div class="info-item capitalize">
				<span ng-bind="album.tracks.total"></span> track<span ng-hide="album.tracks.items.length<=1">s</span>, <span ng-show="album.tracks.next">+</span><span ng-bind="totalTime()"></span> minutes
			</div>
			<div class="info-item capitalize">
				<span class="label">Released: </span>
				<span class="date" ng-bind="convertedDate()"></span>
			</div>
			<div class="info-item capitalize">
				Popularity: 
				<span class="bar-track">
					<span class="bar" style="width: {{ album.popularity }}%;"></span>
				</span>
				&nbsp;
			</div>
		</div>
		
		<div class="clear-left"></div>
		
	</div>
	<div class="content has-asset-sidebar">
		<div class="inner">
		
			<div class="intro mobile-hide">
				<div class="breadcrumbs">
					<span ng-if="linkingMode('browse.newalbum')">
						<a class="item" ui-sref="browse.new">New releases</a>
						<i class="fa fa-angle-right divider"></i>
					</span>
					<span ng-if="linkingMode('browse.artistalbum')">
						<a class="item" ui-sref="browse.artist.overview({ uri: artist.uri })" ng-bind="artist.name"></a>
						<i class="fa fa-angle-right divider"></i>
					</span>
					<span class="item">Album</span>
				</div>
				<h1 ng-bind="album.name"></h1>
				<h2 class="description">
					<artistlist artists="album.artists"></artistlist>
				</h2>	
			</div>
            
            <tracklist ng-if="tracklist.tracks" tracks="tracklist.tracks" type="track" class="tracklist album-tracks"></tracklist>
            
		</div>
	</div>
	
</div>