<div class="page search-page scrolling-panel">
	<div class="inner">
		
        <div class="page-header">
        
            <span class="menu-reveal-trigger mobile-show" ng-click="showMenu()"><i class="fa fa-bars"></i></span>
            
            <h1>
                <span class="si search mobile-hide"></span>
                Search results
            </h1>

            <div class="utilities">
                <div class="filter" ng-class="{'expanded': filterExpanded}">
                    <div class="trigger mobile-show" ng-click="filterExpanded = !filterExpanded">
                        <span class="si filter white"></span>
                        <span class="label">Filter</span>
                    </div>
                    <div class="options-wrapper">
                        <a class="filter-option animate"
                            ng-repeat="option in typeFilterOptions"
                            ui-sref="search({ query: query, type: option.type })"
                            ng-class="{active: type == option.type}">
                                <span class="si {{ option.icon }}"></span>
                                <span class="label" ng-bind="option.label"></span>
                        </a>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </div>
            
        </div>
		
		<div class="search-form mobile-show">
			<form ng-submit="searchSubmit( query )">
				<input type="text" name="query" placeholder="Search" class="query" ng-model="query" />
				<button class="submit" type="submit">
					<i class="fa fa-search"></i>
				</button>
			</form>
		</div>
		
		<div ng-if="query">
			<div ng-if="type == 'artist'">				
				<div class="artist-items square-panels">
					<div class="item-container" ng-repeat="artist in artists.items track by $index">
						<a ui-sref="browse.artist.overview({ uri: artist.uri })" class="square-panel artist"
                            candrag
                            dragobj="artist"
                            draggable="false">
                                <div class="image-container">
                                    <thumbnail images="artist.images"></thumbnail>
                                </div>
                                <div class="info animate">
                                    <div class="name" ng-bind="artist.name"></div>
                                </div>
						</a>
					</div>
				</div>
				<div ng-hide="artists.items.length || loading" class="no-items">
					No items
				</div>		
				<div class="clear-both"></div>
			</div>
			
			<div ng-if="type == 'album'">
				<div class="album-items square-panels">
					<div class="item-container" ng-repeat="album in albums.items track by $index">
						<a ui-sref="browse.album({ uri: album.uri })" class="square-panel album"
                            candrag
                            dragobj="album"
                            draggable="false">
                                <div class="image-container">
                                    <thumbnail images="album.images"></thumbnail>
                                </div>
                                <div class="info animate">
                                    <div class="name" ng-bind="album.name"></div>
                                    <div class="secondary">
                                        <span ng-repeat="artist in album.artists">
                                            <span ng-bind="artist.name"></span><span ng-if="!$last">, </span>
                                        </span>
                                    </div>
                                </div>
						</a>
					</div>
				</div>		
				<div ng-hide="albums.items.length || loading" class="no-items">
					No items
				</div>		
				<div class="clear-both"></div>
			</div>
			
			<div ng-if="type == 'playlist'">
				<div class="playlist-items square-panels">
					<div class="item-container" ng-repeat="playlist in playlists.items track by $index">
						<a ui-sref="browse.playlist({ uri: playlist.uri })" class="square-panel playlist"
                            candrag
                            dragobj="playlist"
                            draggable="false">
                                <div class="image-container">
                                    <thumbnail images="playlist.images"></thumbnail>
                                </div>
                                <div class="info animate">
                                    <div class="name" ng-bind="playlist.name"></div>
                                    <div class="secondary tracks"><span ng-bind="playlist.tracks.total"></span> tracks</div>
                                </div>
						</a>
					</div>
				</div>		
				<div ng-hide="playlists.items.length || loading" class="no-items">
					No items
				</div>		
				<div class="clear-both"></div>
			</div>
			
			<div ng-if="type == 'track'">
                <tracklist ng-if="tracklist.tracks" tracks="tracklist.tracks" type="track" class="tracklist search-results"></tracklist>
			</div>
			
			<div ng-if="type == 'other'">
                <tracklist ng-if="other.tracks" tracks="other.tracks" type="localtrack" class="tracklist search-results other"></tracklist>
			</div>
			
			<div ng-if="type == 'all'">
				
				<div class="search-results-section artists" ng-if="artists.items.length > 0">
					<h4 class="section-title"><a ui-sref="search({ query: query, type: 'artist' })">Artists</a></h4>	
					<div class="artist-items square-panels">
						<div class="item-container" ng-repeat="artist in artists.items | limitTo: 4 track by $index">
							<a ui-sref="browse.artist.overview({ uri: artist.uri })" class="square-panel artist"
                                candrag
                                dragobj="artist"
                                draggable="false">
                                    <div class="image-container">
                                        <thumbnail images="artist.images" size="small"></thumbnail>
                                    </div>
                                    <div class="info animate">
                                        <div class="name" ng-bind="artist.name"></div>
                                    </div>
							</a>
						</div>
					</div>
					<div class="clear-both"></div>
				</div>	
				
				<div class="search-results-section albums" ng-if="albums.items.length > 0">
					<h4 class="section-title"><a ui-sref="search({ query: query, type: 'album' })">Albums</a></h4>	
					<div class="album-items square-panels">
						<div class="item-container" ng-repeat="album in albums.items | limitTo: 4 track by $index">
							<a ui-sref="browse.album({ uri: album.uri })" class="square-panel album"
                                candrag
                                dragobj="album"
                                draggable="false">
                                    <div class="image-container">
                                        <thumbnail images="album.images" size="small"></thumbnail>
                                    </div>
                                    <div class="info animate">
                                        <div class="name" ng-bind="album.name"></div>
                                        <div class="secondary">
                                            <span ng-repeat="artist in album.artists">
                                                <span ng-bind="artist.name"></span><span ng-if="!$last">, </span>
                                            </span>
                                        </div>
                                    </div>
							</a>
						</div>
					</div>
					<div class="clear-both"></div>
				</div>	
				
				<div class="search-results-section playlists" ng-if="playlists.items.length > 0">
					<h4 class="section-title"><a ui-sref="search({ query: query, type: 'playlist' })">Playlists</a></h4>		
					<div class="playlist-items square-panels">
						<div class="item-container" ng-repeat="playlist in playlists.items | limitTo: 4 track by $index">
							<a ui-sref="browse.playlist({ uri: playlist.uri })" class="square-panel playlist"
                                candrag
                                dragobj="playlist"
                                draggable="false">
                                    <div class="image-container">
                                        <thumbnail images="playlist.images" size="small"></thumbnail>
                                    </div>
                                    <div class="info animate">
                                        <div class="name" ng-bind="playlist.name"></div>
                                        <div class="secondary tracks"><span ng-bind="playlist.tracks.total"></span> tracks</div>
                                    </div>
							</a>
						</div>
					</div>
					<div class="clear-both"></div>
				</div>
				
				<div class="clear-both"></div>
				
				<div class="search-results-section tracks" ng-if="tracklist.tracks.length > 0">
					<h4 class="section-title"><a ui-sref="search({ query: query, type: 'track' })">Tracks</a></h4>
                    <tracklist ng-if="tracklist.tracks" tracks="tracklist.tracks" type="track" class="tracklist search-results"></tracklist>
				</div>
				
			</div>
		</div>
		
	</div>
</div>