<div class="page">
	<div class="inner">
		
        <div class="page-header">
		
            <div class="utilities">
                <input class="list-filter" type="text" ng-model="filterTerm" placeholder="Start typing to filter..." />
                <div class="field icon-radio view-options">
                    <label>
                        <input type="radio" name="spotmop.localartistlayout" ng-model="settings.spotmop.localartistlayout" value="grid" />
                        <span class="label animate"><span class="si grid mobile-white"></span></span>
                    </label>
                    <label>
                        <input type="radio" name="spotmop.localartistlayout" ng-model="settings.spotmop.localartistlayout" value="list" />
                        <span class="label animate"><span class="si list mobile-white"></span></span>
                    </label>
                </div>
            </div>
        
			<span class="menu-reveal-trigger mobile-show" ng-click="showMenu()"><i class="fa fa-bars"></i></span>
            
            <h1>
                <span class="si folder mobile-hide"></span>
                <span class="path-item">
                    Artists
                </span>
            </h1>
            
        </div>
        
        <!-- GRID VIEW -->
        
        <div class="artist-items square-panels" ng-if="!settings.spotmop.localartistlayout || settings.spotmop.localartistlayout == 'grid'">
            <div class="item-container" ng-repeat="artist in artists track by $index">
                <a ui-sref="browse.artist.overview({ uri: artist.uri })" class="square-panel artist"
                    candrag
                    dragobj="artist"
                    draggable="false">
                        <div class="image-container">
                            <thumbnail size="medium" images="artist.images"></thumbnail>
                        </div>
                        <div class="info smaller animate">
                            <div class="name" ng-bind="artist.name"></div>
                        </div>
                </a>
            </div>
        </div>
        
        <!-- LIST VIEW -->
		
		<div class="artist-items list" ng-if="settings.spotmop.localartistlayout == 'list'">
            <div class="list-item header">
                <div class="col w100 name">Name</div>
                <div class="clear-both"></div>
            </div>
			<div class="item-container" ng-repeat="artist in artists track by $index">
				<a ui-sref="browse.artist.overview({ uri: artist.uri })" class="list-item">
                    <div class="col w100 name"> 
                        <span class="si cd"></span>
                        <span ng-bind="artist.name"></span>
                    </div>
                    <div class="clear-both"></div>
				</a>
			</div>	
		</div>
		
		<div ng-hide="artists.length" class="no-items">
			No items. Have you installed the SQLite local library?
		</div>	
		
	</div>
</div>