<div class="create-playlist-dialog">
	
	<h4 class="section-title dialog-title">Create playlist</h4>

	<form>
		
		<div class="field text large">
			<input name="name" placeholder="Playlist name" ng-model="playlistName" />
		</div>
		
		<div class="field radio">
			<label>
				<input type="radio" name="public" value="true" ng-model="playlistPublic" checked="checked" />
				<span class="label">Public</span>
			</label>
			<label>
				<input type="radio" name="public" value="false" ng-model="playlistPublic" />
				<span class="label">Private</span>
			</label>
			<div class="clear"></div>
		</div>

		<div class="actions">
			<span class="button save primary" ng-click="savePlaylist()" ng-hide="saving">
				<i class="fa fa-check"></i>&nbsp; Save
			</span>			
			<span ng-show="saving" class="saving">
				<img src="assets/svg/spinner.svg" class="working" />
			</span>
		</div>
		
	</form>
	
</div>