<div class="page now-playing-page scrolling-panel">
	<div class="inner">
		
		<div class="page-header mobile-show">
			<span class="menu-reveal-trigger" ng-click="showMenu()"><i class="fa fa-bars"></i></span>
			<h1>Now Playing</h1>
		</div>
		
		<div id="full-player" class="player" ng-controller="PlayerController">

			<a class="artwork image-container" ui-sref="browse.album({ uri: state().currentTlTrack.track.album.uri })">
				<div class="image" style="background-image: url({{ state().currentTlTrack.track.image }})" ng-if="state().currentTlTrack.track"></div>
				<div class="image placeholder" ng-if="!state().currentTlTrack.track || !state().currentTlTrack.track.image"></div>
			</a>
				
			<div class="track-info">
				<div ng-if="state().currentTlTrack.track">
					<div class="track" ng-bind="state().currentTlTrack.track.name"></div>
					<div class="artist">
						<span ng-repeat="artist in state().currentTlTrack.track.artists">
							<a ui-sref="browse.artist.overview({ uri: artist.uri })" ng-bind="artist.name"></a><span ng-show="!$last">, </span>
						</span>
					</div>
				</div>
				<div ng-if="!state().currentTlTrack.track">
					<div class="artist">Nothing playing</div>
				</div>
			</div>
			
			<div class="controls">
				
				<div class="pull-left">
					<span class="button previous" ng-click="previous()"><i class="fa fa-step-backward"></i></span>
					<span class="button play-pause" ng-click="playPause()">
						<i class="fa fa-play fa-fw" ng-show="!state().playing"></i>
						<i class="fa fa-pause fa-fw" ng-show="state().playing"></i>
					</span>
					<span class="button next" ng-click="next()"><i class="fa fa-step-forward"></i></span>
				</div>
				
				<div class="pull-right">
					<span class="button random" ng-click="toggleRandom()" ng-class="{active: state().isRandom}">
						<i class="fa fa-random"></i>
					</span>
					<span class="button repeat" ng-click="toggleRepeat()" ng-class="{active: state().isRepeat}">
						<i class="fa fa-repeat"></i>
					</span>
				</div>
				
				<div class="clear-both"></div>
				
				<div class="track-timer">
					<span class="current" ng-show="state().currentTlTrack.track" ng-bind="state().playPosition | formatMilliseconds"></span>
					<span class="duration" ng-show="state().currentTlTrack.track" ng-bind="state().currentTlTrack.track.length | formatMilliseconds"></span>
				</div>
				
				<div class="progress slider" ng-click="seek($event)">
					<div class="track animate">
						<div class="fill animate" style="width: {{ state().playPositionPercent() }}%"></div>
					</div>
				</div>
			
			</div>
		</div>
		
		<div class="queue-intro" ng-if="state().currentTlTrack.track">		
			<div class="info-text">
				<span ng-bind="currentTracklist.length"></span> track<span ng-show="currentTracklist.length != 1">s</span>
				&nbsp;|&nbsp; <span ng-bind="totalTime"></span> minute<span ng-show="totalTime != 1">s</span>
                &nbsp;|&nbsp; <a ng-click="addByUri()">Add by URI</a>
			</div>
		</div>
		
        <tracklist ng-if="tracks" tracks="tracks" type="tltrack" class="tracklist queue-tracks droppable" dropaccept='["tltrack"]' droptype="queuetracklist" limit="{{ limit }}"></tracklist>
		
	</div>
</div>